/* General styles, typography and reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

span {
  display: block;
}

img {
  display: block;
  height: 100%;
  width: 100%;
}

:root {
  -custom-dark-blue: hsl(240, 38%, 20%);
  -custom-grayish-blue: hsl(240, 18%, 77%);
}

html,
body {
  height: 100vh;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 10px;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

body::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 7rem;
  width: 100%;
  background-image: url(./images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-size: 80% 100%;
  z-index: -1;
  /* background-color: red; */
}

/* Mobile styles */
main {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex: 1;
  padding: 1rem 0;
}

#component-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  /* padding: 1rem; */
  width: 85%;
  gap: 3rem;
  background-color: rgba(0, 128, 128, 0.396);
  padding: 1.2rem 0;
}

.component-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./images/pattern-bg.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* padding: 1rem; */
  background-color: rgba(255, 217, 0, 0.273);
  padding: 3rem 0 2.5rem 0;
  position: relative;
}

.pic-wrapper {
  width: 80%;
  border-radius: 0.5rem;
  overflow: hidden;
}

.slide-control {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: .5rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  background-color: white;
  height: 4rem;
  width: 8rem;
  padding: 1rem 1.5rem;
  border-radius: 2.5rem;
  z-index: 5;
}

.slide-btn {
  background-color: transparent;
  border: 1px solid transparent;
  width: 1.2rem;
  height: 1.5rem;
}

.component-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  /* gap: 2rem; */
  background-image: url(./images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 6rem;
  background-color: rgba(255, 0, 0, 0.214);
  padding: 2.5rem 0;
  gap: 2rem;
}

.customer-quote {
  font-size: 1.8rem;
  color: var(-custom-dark-blue);
  line-height: 2.4rem;
}

.customer-info-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.customer-name {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(-custom-dark-blue);
}

.customer-position {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(-custom-grayish-blue);
}

/* Footer styles */

footer {
  z-index: 1;
}

.attribution {
  text-align: center;
}

/* Media queries */

@media screen and (min-width: 1000px) {


  #component-wrapper {
    flex-direction: row-reverse;
    width: 95%;
    padding: 1.2rem 4rem;
  }

  .component-top {
    flex: 1;
    min-width: 70rem;
    padding: 0rem 2rem 2rem 0rem;
    background-size: auto;
    background-position: center .7rem;
    height: 70rem;
    position: relative;
  }

  .pic-wrapper {
    width: auto;
    min-width: 30rem;
    overflow: hidden;
    border-radius: .5rem;
  }

  .slide-control {
    bottom: 6.2rem;
    position: absolute;
    /* left: 19rem; */
    left: calc(25% + 1.5rem);
    width: 11rem;
    height: 5.8rem;
    border-radius: 3.5rem;
    padding: 1rem 1.8rem;
  }

  .slide-btn {
    width: 1.5rem;
    height: 2rem;
  }

  .component-bottom {
    position: relative;
    flex: 1;
    align-items: flex-start;
    text-align: left;
  }

  .customer-quote {
    font-size: 2.9rem;
    line-height: 4.2rem;
  }

  .customer-info-wrap {
    flex-direction: row;
  }


}
