* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --afterelement-display: none;

  /* Primary */

  --custom-strong-cyan: hsl(172, 67%, 45%);

  /* Neutral */

  --custom-very-dark-cyan: hsl(183, 100%, 15%);
  --custom-dark-grayish-cyan: hsl(186, 14%, 43%);
  --custom-grayish-cyan: hsl(184, 14%, 56%);
  --custom-light-grayish-cyan: hsl(185, 41%, 84%);
  --custom-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --custom-white: hsl(0, 0%, 100%);
}

html {
  font-family: "Space Mono", monospace;
  font-size: 10px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--custom-light-grayish-cyan);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(./images/logo.svg);
  background-repeat: no-repeat;
  background-position: top 5rem center;
}

#calculator-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  min-width: 387px;
  background-color: var(--custom-white);
  border-radius: 2.5rem;
  margin-top: 14.3rem;
  margin-bottom: auto;
  padding: 2.5rem;
}

#calculator-input {
  padding: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-name {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--custom-dark-grayish-cyan);
  margin-bottom: 0.5rem;
}

#calculator-input input[type="number"] {
  text-align: right;
  font: inherit;
  font-size: 2.4rem;
  color: var(--custom-very-dark-cyan);
  font-weight: 700;
  width: 100%;
  padding: 0.5rem;
  padding-right: 1.5rem;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  background-color: var(--custom-very-light-grayish-cyan);
  background-repeat: no-repeat;
  background-position: left 2rem center;
  transition: 0.3s;
}

#calculator-input input[type="number"]:hover {
  border: 2px solid var(--custom-strong-cyan) !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[id="bill"] {
  background-image: url(./images/icon-dollar.svg);
}

input[id="peoplenumber"] {
  background-image: url(./images/icon-person.svg);
}

#bill-input {
  margin-bottom: 3.5rem;
}

.tipheader {
  margin-bottom: 1.5rem;
}

#tip-value {
  display: grid;
  gap: 1.6rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3.2rem;
}

#tip-value div {
  width: 100%;
}

#tip-value label {
  padding: 0.6rem 0;
  display: block;
  text-align: center;
  font: inherit;
  background-color: var(--custom-very-dark-cyan);
  font-size: 2.4rem;
  border-radius: 0.5rem;
  color: var(--custom-white);
  cursor: pointer;
  transition: 0.3s;
}

#tip-value input[type="radio"]:hover + label {
  background-color: hsl(173, 61%, 76%);
  color: var(--custom-very-dark-cyan);
}

#tip-value input[type="radio"]:checked + label {
  background-color: var(--custom-strong-cyan);
  color: var(--custom-very-dark-cyan);
}

#tip-value div input {
  display: none;
}

#tip-value div:last-of-type input {
  display: block;
  height: 100%;
}

#tip-value div:last-of-type label {
  display: none;
}

#people-num {
  margin-bottom: 2.5rem;
  position: relative;
}

#people-num::after {
  position: absolute;
  font-size: 1.6rem;
  top: .01rem;
  right: 1rem;
  color: #B48372;
  content: "Can't be zero";
  display: var(--afterelement-display);
}

#calculator-result {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-left: 2.3rem;
  background-color: var(--custom-very-dark-cyan);
  border-radius: 1.5rem;
}

.res-name {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.result-name {
  color: var(--custom-white);
  font-size: 1.6rem;
}

.result-helper {
  color: var(--custom-dark-grayish-cyan);
  font-size: 1.3rem;
}

.tip-amount-value {
  color: var(--custom-strong-cyan);
  font-size: 2.9rem;
}

#resetbtn {
  padding: 1rem 0;
  margin-top: 3.7rem;
  font: inherit;
  text-transform: uppercase;
  font-size: 2rem;
  background-color: hsl(172, 67%, 45%);
  color: var(--custom-very-dark-cyan);
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

#resetbtn:hover,
#resetbtn:focus {
  background-color: hsl(173, 61%, 76%);
}

.btn-disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: hsl(183, 79%, 24%);
}

#resetbtn:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: hsl(183, 79%, 24%);
}

.attribution {
  width: 100%;
  text-align: center;
  background-color: var(--custom-strong-cyan);
}
.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1400px) {
  body {
    background-position: top 16.2rem center;
  }

  #calculator-wrapper {
    flex-direction: row;
    max-width: 922px;
    min-height: 482px;
    gap: 5.2rem;
    width: 64%;
    height: 47%;
    margin: auto;
    margin-top: 21%;
    padding: 3.2rem;
  }

  #calculator-input,
  #calculator-result {
    flex: 1;
  }

  #calculator-input {
    padding: 1.6rem;
    padding-right: 0;
  }

  #tip-value {
    display: grid;
    gap: 1.5rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 4rem;
  }

  #calculator-result {
    padding-left: 1.5rem;
  }

  .res-name {
    margin-top: 3.5rem;
    padding-left: 2.2rem;
  }

  .res-name:nth-of-type(2) {
    margin-top: 5.2rem;
  }

  .tip-amount-value {
    font-size: 4.5rem;
    line-height: 4.5rem;
    padding-right: 2.3rem;
  }

  #resetbtn {
    margin-top: auto;
    margin-bottom: 2rem;
    width: 90%;
    align-self: center;
  }
}
