* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */

  --custom-strong-cyan: hsl(172, 67%, 45%);

  /* Neutral */

  --custom-very-dark-cyan: hsl(183, 100%, 15%);
  --custom-dark-grayish-cyan: hsl(186, 14%, 43%);
  --custom-grayish-cyan: hsl(184, 14%, 56%);
  --custom-light-grayish-cyan: hsl(185, 41%, 84%);
  --custom-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --custom-white: hsl(0, 0%, 100%);
}

html {
  font-family: "Space Mono", monospace;
  font-size: 10px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--custom-light-grayish-cyan);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(./images/logo.svg);
  background-repeat: no-repeat;
  background-position: top 5rem center;
}

main {
  background-color: var(--custom-white);
  border-radius: 2rem;
  margin-top: 38%;
  /* margin-top: auto;
  margin-bottom: auto; */
}

#calculator-wrapper {
    padding: 2rem;
}

#calculator-result {
    background-color: var(--custom-very-dark-cyan);
}

#calculator {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--custom-dark-grayish-cyan);
}




.attribution {
  text-align: center;
  background-color: var(--custom-strong-cyan);
}
.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}
