* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */

  --custom-strong-cyan: hsl(172, 67%, 45%);

  /* Neutral */

  --custom-very-dark-cyan: hsl(183, 100%, 15%);
  --custom-dark-grayish-cyan: hsl(186, 14%, 43%);
  --custom-grayish-cyan: hsl(184, 14%, 56%);
  --custom-light-grayish-cyan: hsl(185, 41%, 84%);
  --custom-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --custom-white: hsl(0, 0%, 100%);
}

html {
  font-family: "Space Mono", monospace;
  font-size: 10px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--custom-light-grayish-cyan);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(./images/logo.svg);
  background-repeat: no-repeat;
  background-position: top 5rem center;
}

main {
  background-color: var(--custom-white);
  border-radius: 2.5rem;
  margin-top: 38%;
  /* margin-top: auto;
  margin-bottom: auto; */
}

#calculator-wrapper {
    padding: 3.3rem;
}

#calculator-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.input-name {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--custom-dark-grayish-cyan);
    margin-bottom: .5rem;
}

#calculator-input input[type="text"] {
  text-align: right;
  font: inherit;
  font-size: 2.4rem;
  color: var(--custom-very-dark-cyan);
  font-weight: 700;
  width: 100%;
  padding: .5rem;
  padding-right: 1.5rem;
  border: none;
  border-radius: .5rem;
  background-color: var(--custom-very-light-grayish-cyan);
  background-repeat: no-repeat;
  background-position: left 2rem center;
}

input[id="bill"] {
  background-image: url(./images/icon-dollar.svg);
}

input[id="peoplenumber"] {
  background-image: url(./images/icon-person.svg);
}

#tip-value {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  
}

#tip-value label {
  font: inherit;
  font-size: 2.4rem;
  background-color: var(--custom-very-dark-cyan);
  border-radius: .5rem;
  color: var(--custom-white);
}

#tip-value input {
  display: none;
}

#calculator-result {
    background-color: var(--custom-very-dark-cyan);
}

.attribution {
  text-align: center;
  background-color: var(--custom-strong-cyan);
}
.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}
