/* General styles, reset and typography */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

span {
  display: block;
}

button {
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  /* ### Primary */

  --custom-soft-orange: hsl(35, 77%, 62%);
  --custom-soft-red: hsl(5, 85%, 63%);

  /* ### Neutral */

  --custom-off-white: hsl(36, 100%, 99%);
  --custom-grayish-blue: hsl(233, 8%, 79%);
  --custom-dark-grayish-blue: hsl(236, 13%, 42%);
  --custom-very-dark-blue: hsl(240, 100%, 5%);
}

html {
  font-family: "Inter", sans-serif;
  font-size: 10px;
}

html,
body {
  min-height: 100vh;
}

/* Mobile styles */

body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5rem 1fr 5rem;
  padding: 1.5rem;
  gap: 1rem;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.249);
  padding: 1.2rem 0rem;
}

.logo-wrapper {
  justify-self: start;
  width: 4.7rem;
}

nav {
  position: fixed;
  display: none;
  align-items: start;
  grid-template-rows: 5rem 1fr;
  gap: 7rem;
  right: 0;
  top: 0;
  background-color: white;
  height: 100vh;
  width: 25.5rem;
  padding: 2.7rem 2rem 1rem 2.3rem;
  touch-action: none;
}

nav::before {
  position: fixed;
  top: 0rem;
  left: 0;
  content: "";
  width: calc(100vw - 25.5rem);
  height: 100vh;
  background-color: var(--custom-dark-grayish-blue);
  opacity: 50%;
}

#nav-menu {
  background-color: rgba(0, 128, 128, 0.355);
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 2.7rem;
}

.nav-link {
  font-size: 1.8rem;
  transition: .3s;
}

.nav-link:hover, .nav-link:focus-visible {
  color: var(--custom-soft-orange);
}



.close-icon-wrapper {
  width: 3.2rem;
  justify-self: end;
  cursor: pointer;
}

.menu-icon-wrapper {
  cursor: pointer;
  justify-self: end;
  width: 4.2rem;
}

.showmenu {
  display: grid;
}

/* #nav-menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
} */

main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, min-content);
  background-color: rgba(95, 158, 160, 0.281);
  padding: 1.2rem 0;
  gap: 2.5rem;
}

/* Top section mobile styles */

#news-main-section {
  display: grid;
  justify-items: start;
  gap: 1.5rem;
  background-color: rgba(255, 0, 0, 0.303);
  padding: 0 0 2.7rem 0;
}

/* .news-img-wrap {
  max-height: 30rem;
} */

.news-content-wrap {
  /* background-color: rgba(255, 0, 0, 0.326); */
  padding: 1rem 0;
}

.news-content-wrap h1 {
  font-size: 4.1rem;
  line-height: 4rem;
}

.news-content-wrap p {
  padding: 1.5rem 0 2.5rem 0;
  font-size: 1.5rem;
  line-height: 2.6rem;
}

#btn-news {
  background-color: var(--custom-soft-red);
  color: var(--custom-off-white);
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.45rem;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
}

#btn-news:hover, #btn-news:focus-visible {
  background-color: var(--custom-very-dark-blue);
}

/* Side section mobile styles */

#side-newslist {
  display: grid;
  background-color: var(--custom-very-dark-blue);
  padding: 2rem 2.2rem 0.5rem 2.2rem;
  gap: 0rem;
}

#side-head {
  color: var(--custom-soft-orange);
  font-size: 3.2rem;
  font-weight: bold;
}

#side-news-ul {
  display: grid;
  gap: 0rem;
  padding: 0;
  /* background-color: rgba(255, 217, 0, 0.323); */
  color: var(--custom-grayish-blue);
}

#side-news-ul li {
  /* background-color: rgba(0, 128, 0, 0.305); */
  padding: 3rem 0;
  border-bottom: 1px solid var(--custom-grayish-blue);
}

#side-news-ul li:last-of-type {
  padding: 3rem 0 2rem 0;
  border-bottom: none;
}

#side-news-ul a {
  color: var(--custom-grayish-blue);
}

#side-news-ul h3:hover, #side-news-ul h3:focus-visible {
  color: var(--custom-soft-orange);
}

#side-news-ul h3 {
  font-size: 2rem;
  color: var(--custom-off-white);
  transition: .3s;
}

#side-news-ul p {
  padding-top: 1rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

/* Bottom section mobile styles */

#bottom-news {
  background-color: rgba(0, 128, 128, 0.389);
  padding: 3rem 0;
}

#bottom-news-ul {
  display: grid;
  gap: 1.5rem;
}

#bottom-news-ul li {
  display: grid;
  gap: 2rem;
  grid-template-columns: 3fr 7fr;
  padding: 1rem 0;
  background-color: rgba(0, 128, 0, 0.303);
}

.bot-content-wrap {
  padding: 0 0 0 0.5rem;
  background-color: rgba(255, 166, 0, 0.397);
}

.bot-content-wrap span {
  font-size: 3.1rem;
  font-weight: bold;
  color: var(--custom-grayish-blue);
}

.bot-content-wrap h3 {
  padding-top: 1rem;
  font-size: 1.85rem;
  color: var(--custom-very-dark-blue);
  transition: .3s;
}

.bot-content-wrap h3:hover, .bot-content-wrap h3:focus-visible {
color: var(--custom-soft-orange);
}

.bot-content-wrap p {
  padding-top: 1rem;
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: var(--custom-dark-grayish-blue);
}

/* Footer mobile styles */

footer {
  display: grid;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 128, 0, 0.222);
}

/* Media queries */
