/* Global and reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --custom-almost-white: hsl(0, 0%, 98%);
  --custom-medium-gray: hsl(0, 0%, 41%);
  --custom-almost-black: hsl(0, 0%, 8%);
}

html {
    font-size: 10px;
    font-family: 'Epilogue', sans-serif;
}

html, body {
  min-height: 100vh;
}

a {
    text-decoration: none;
}

li {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

/* Header styles */
header {
  display: flex;
  background-color: rgba(137, 43, 226, 0.163);
}

.dropdown {
  display: none;
}

.hamburger {
  margin-left: auto;
  background-image: url(./images/icon-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 3rem;
  cursor: pointer;
}

.hamburger:hover {
  background-image: url(./images/icon-close-menu.svg);
}


/* Main styles */

main {
  background-color: rgba(220, 20, 60, 0.17);
}

/* Footer styles */

footer {
  margin-top: auto;
  background-color: rgba(0, 100, 0, 0.245);
}


.attribution {
  font-size: 1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


/* Media queries */

@media screen and (min-width: 1000px) {

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .hamburger {
    display: none;
  }

}