/* Global and reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --custom-almost-white: hsl(0, 0%, 98%);
  --custom-medium-gray: hsl(0, 0%, 41%);
  --custom-almost-black: hsl(0, 0%, 8%);
}

html {
  font-size: 10px;
  font-family: "Epilogue", sans-serif;
}

html,
body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
}

button {
  font: inherit;
  color: white;
  background-color: var(--custom-almost-black);
  border: 1px solid transparent;
  border-radius: 1.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

button:hover,
button:focus {
  background-color: var(--custom-almost-white);
  color: var(--custom-almost-black);
  border: 1px solid var(--custom-almost-black);
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5rem;
  padding: 0 1.5rem;
}

.logo-wrap img {
  display: block;
  width: 100%;
  height: 100%;
}

nav {
  background-color: white;
  position: fixed;
  height: 100vh;
  width: 24rem;
  top: 0;
  right: 0;
  z-index: 3;
  display: none;
  flex-direction: column;
  padding: 2rem 1.6rem 0 2.3rem;
  gap: 3.1rem;
}

.nav-group {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

nav a {
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--custom-medium-gray);
  transition: 0.3s;
}

nav a:hover,
nav a:focus {
  color: var(--custom-almost-black);
}

.drop-helper {
  display: flex;
  gap: 1.3rem;
}

.drop-icon {
  background-image: url(./images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 1rem;
}

a:focus + .drop-icon {
  background-image: url(./images/icon-arrow-up.svg);
}

.dropdown {
  display: none;
  flex-direction: column;
  gap: 2.2rem;
  padding: 3.2rem 0 1rem 2.4rem;
}

.dropdown-active {
  display: flex;
}

.dropdown li {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  gap: 1.2rem;
}

.menu-icon-helper {
  width: 2rem;
  height: 2rem;
}

.menu-icon-helper img {
  display: block;
  width: 100%;
  height: 100%;
}

.control-links {
  gap: 1.7rem;
  padding: 0.3rem 0.4rem 0 0;
  text-align: center;
}

.control-links a {
  font-size: 1.4rem;
  display: block;
}

#register-top {
  border: 1px solid var(--custom-medium-gray);
  border-radius: 1.5rem;
  padding: 1.1rem 0;
}

#register-top:hover,
#register-top:focus {
  border: 1px solid var(--custom-almost-black);
}

.hamburger {
  margin-left: auto;
  background-image: url(./images/icon-menu.svg);
  background-repeat: no-repeat;
  background-position: top;
  width: 3.5rem;
  height: 2.8rem;
  cursor: pointer;
}

.closemenu {
  background-image: url(./images/icon-close-menu.svg);
  background-repeat: no-repeat;
  background-position: top;
  width: 3.5rem;
  height: 2.8rem;
  cursor: pointer;
  margin-left: auto;
}

#side-overlay {
  width: 100%;
  height: 100%;
  opacity: 60%;
  position: fixed;
  background-color: var(--custom-almost-black);
  display: none;
}

/* .hamburger:hover {
  background-image: url(./images/icon-close-menu.svg);
} */

/* Main styles */

main {
}

.intro-img-wrap {
}

.intro-img-wrap img {
  display: block;
  width: 100%;
  height: 100%;
}

.hero-content {
  padding: 5rem 1.5rem 2rem 1.5rem;
  text-align: center;
}

.hero-content h1 {
  font-size: 3.5rem;
}

.hero-content p {
  padding-top: 1.8rem;
  padding-bottom: 2.5rem;
  line-height: 2.6rem;
  font-size: 1.6rem;
}

#btn-top {
  padding: 1.5rem 2.2rem;
}

.hero-logos-wrap {
  display: flex;
  justify-content: space-around;
  padding: 3rem 1.5rem 2rem 1.5rem;
  gap: 2.7rem;
}

.company-logo-wrap {
}

.company-logo-wrap img {
  display: block;
  width: 100%;
}

/* Footer styles */

footer {
  margin-top: auto;
  background-color: rgba(128, 128, 128, 0.229);
}

.attribution {
  font-size: 1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media queries */

@media screen and (min-width: 1000px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .hamburger {
    display: none;
  }
}
