/* Global, reset & typography */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

img {
  display: block;
  max-width: 100%;
}


:root {
  --main-font: "DM Sans", sans-serif;

  /* ## Colors */

  --cs-purple-100: 254, 88%, 90%;
  --cs-purple-500: 256, 67%, 59%;

  --cs-yellow-100: 31, 66%, 93%;
  --cs-yellow-500: 39, 100%, 71%;

  --cs-white: 0, 0%, 100%;
  --cs-black: 0, 0%, 7%;
  --cs-grey: 0, 0%, 96%;
}

html {
  font-family: var(--main-font);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: grid;
  min-height: 100svh;
  min-height: 100vh;
  color: hsla(var(--cs-black), 100%);
}

html,
body {
  min-width: 30rem;
}

/* Utility classes */

.txt-xl {
  font-size: 4.7rem;
  font-weight: 500;
  line-height: .9;
}

.txt-l {
  font-size: 3rem;
  font-weight: 500;
  line-height: .95;
}

.txt-m {
  font-size: 2.32rem;
  font-weight: 500;
  line-height: 1.05;
}

.txt-s {
  font-size: 1.8rem;
  line-height: 1.15;
  padding-inline: 1rem;
}

.cl-purple {
  color: hsla(var(--cs-purple-500), 100%);
}

.cl-yellow {
  color: hsla(var(--cs-yellow-500), 100%);
  font-weight: 500;
}

.cl-white {
  color: hsla(var(--cs-white), 100%);
}

.txt-italic {
  font-style: italic;
}

.bg-purple-500 {
  background-color: hsla(var(--cs-purple-500), 100%);
}

.bg-purple-100 {
  background-color: hsla(var(--cs-purple-100), 100%);
}

.bg-yellow-500 {
  background-color: hsla(var(--cs-yellow-500), 100%);
}

.bg-yellow-100 {
  background-color: hsla(var(--cs-yellow-100), 100%);
}

.bg-white {
  background-color: hsla(var(--cs-white), 100%);
}



/* Mobile styles */

body {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2rem;
  background-color: hsla(var(--cs-grey), 100%);
}

main {
  display: flex;
  justify-content: center;
  padding: 2.7rem 1rem;
}

.bento-container {
  /* background-color: rgba(0, 128, 0, 0.244); */
  padding: .5rem;
  display: grid;
  align-items: start;
  gap: 3rem;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  grid-template-areas:
  "title"
  "accounts"
  "schedule"
  "media"
  "grow"
  "audience"
  "bcontent"
  "ai";
}

.bento-element {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  padding: 1.7rem;
  border-radius: 1rem;
}

#bento-title {
  padding: 3.9rem 2.5rem;
  grid-area: title;
  gap: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.img-stars {
  max-width: 19rem;
  margin-top: 1.3rem;
}

#bento-accounts {
  padding: 1.7rem;
  gap: 1.7rem;
  grid-area: accounts;
}

#bento-schedule {
  grid-area: schedule;
  overflow: hidden;
  max-height: 22rem;
  justify-content: space-between;
}

.img-schedule {
  max-width: 21rem;
}

#bento-media {
  grid-area: media;
  padding: 3.2rem 1.7rem;
  gap: 2.1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#bento-grow {
  grid-area: grow;
  padding: 2.2rem 4rem;
  gap: 4rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.img-grow {
  max-width: 23rem;
}

#bento-audience {
  padding: 2.4rem 1.7rem;
  grid-area: audience;
}

.img-audience {
  max-width: 18.5rem;
}

#bento-content {
  padding: 3.6rem 3rem;
  gap: 2.4rem;
  grid-area: bcontent;
}

.img-content {
  max-width: 19rem;
}

#bento-ai {
  padding: 2.2rem 2.5rem;
  gap: 2rem;
  grid-area: ai;
}

.img-ai {
  max-width: 22rem;
}


footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: hsla(var(--cs-purple-500), 100%);
  background: linear-gradient(90deg, hsla(var(--cs-purple-500), 100%) 0%, hsla(var(--cs-purple-100), 100%) 100%);
}

footer a {
  color: hsla(var(--cs-yellow-500), 100%);
  font-weight: 700;
}

footer a:hover {
  color: hsla(var(--cs-yellow-100), 100%);
}


/* Desktop styles */
