/* Global, reset & typography */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

img {
  display: block;
  max-width: 100%;
}


:root {
  --main-font: "DM Sans", sans-serif;

  /* ## Colors */

  /* --cs-purple-100: hsl(254, 88%, 90%);
  --cs-purple-500: hsl(256, 67%, 59%);

  --cs-yellow-100: hsl(31, 66%, 93%);
  --cs-yellow-500: hsl(39, 100%, 71%);

  --cs-white: hsl(0, 0%, 100%);
  --cs-black: hsl(0, 0%, 7%); */

  --cs-purple-100: 254, 88%, 90%;
  --cs-purple-500: 256, 67%, 59%;

  --cs-yellow-100: 31, 66%, 93%;
  --cs-yellow-500: 39, 100%, 71%;

  --cs-white: 0, 0%, 100%;
  --cs-black: 0, 0%, 7%;
  --cs-grey: 0, 0%, 96%;
}

html {
  font-family: var(--main-font);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: grid;
  min-height: 100svh;
  min-height: 100vh;
}

html,
body {
  min-width: 30rem;
}

/* Utility classes */

.txt-xl {
  font-size: 4.7rem;
  font-weight: 500;
  line-height: .9;
  margin-bottom: 1.5rem;
}

.txt-l {}

.txt-m {}

.txt-s {
  font-size: 1.8rem;
}

.cl-purple {}

.cl-yellow {
  color: hsla(var(--cs-yellow-500), 100%);
  font-weight: 500;
}

.cl-white {
  color: hsla(var(--cs-white), 100%);
}

.txt-italic {
  font-style: italic;
}


.bg-purple-500 {
  background-color: hsla(var(--cs-purple-500), 100%);
}

.bg-white {
  background-color: hsla(var(--cs-white), 100%);
}



/* Mobile styles */

body {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2rem;
  background-color: hsla(var(--cs-grey), 100%);
}

main {
  display: flex;
  justify-content: center;
  padding: 2.7rem 1rem;
}

.bento-container {
  background-color: rgba(0, 128, 0, 0.244);
  padding: .5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "title"
  "accounts"
  "schedule"
  "media"
  "grow"
  "audience"
  "bcontent"
  "ai";
}

.bento-element {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 2.7rem;
  border-radius: 1rem;
  /* background-color: rgba(0, 0, 255, 0.393); */
}

#bento-title {
  grid-area: title;
  display: flex;
  gap: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.img-stars {
  max-width: 19rem;
}

#bento-accounts {
  grid-area: accounts;
}

#bento-schedule {
  grid-area: schedule;
}

#bento-media {
  grid-area: media;
}

#bento-grow {
  grid-area: grow;
}

#bento-audience {
  grid-area: audience;
}

#bento-content {
  grid-area: bcontent;
}

#bento-ai {
  grid-area: ai;
}


footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: hsla(var(--cs-purple-500), 100%);
  background: linear-gradient(90deg, hsla(var(--cs-purple-500), 100%) 0%, hsla(var(--cs-purple-100), 100%) 100%);
}

footer a {
  color: hsla(var(--cs-yellow-500), 100%);
  font-weight: 700;
}

footer a:hover {
  color: hsla(var(--cs-yellow-100), 100%);
}


/* Desktop styles */
