/* General styles, typography and reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

ul,
ol {
  list-style: none;
}

button {
  font-size: inherit;
  border: 1px solid transparent;
  transition: 0.3s;
  cursor: pointer;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

:root {
  /* ### Primary */

  --custom-red: hsl(1, 90%, 64%);
  --custom-blue: hsl(219, 85%, 26%);

  /* ### Neutral */

  --custom-white: hsl(0, 0%, 100%);
  --custom-very-light-grayish-blue: hsl(210, 60%, 98%);
  --custom-light-grayish-blue-1: hsl(211, 68%, 94%);
  --custom-light-grayish-blue-2: hsl(205, 33%, 90%);
  --custom-grayish-blue: hsl(219, 14%, 63%);
  --custom-dark-grayish-blue: hsl(219, 12%, 42%);
  --custom-very-dark-blue: hsl(224, 21%, 14%);

  /* ### Other */

  --font-main: "Plus Jakarta Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-main);
  font-size: 10px;
}

html,
body {
  min-height: 100vh;
  min-width: 250px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--custom-very-light-grayish-blue);
  padding: 0rem 0rem 0rem 0rem;
}

/* Mobile styles */

#component-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: var(--custom-white);
  padding: 2.5rem 1.6rem;
  gap: 2.5rem;
  /* margin-top: auto; */
  max-width: 73rem;
}

#controls-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(0, 128, 128, 0.401); */
}

#controls-helper {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

#controls-helper span {
  display: block;
}

#notification-label {
  font-size: 2rem;
}

#notification-counter {
  font-size: 1.5rem;
  background-color: var(--custom-blue);
  color: var(--custom-white);
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
}

#clear-btn {
  color: var(--custom-grayish-blue);
  font-size: 1.2rem;
  letter-spacing: 0.02rem;
  font-weight: bold;
  padding: 0.4rem 0.2rem;
  background-color: transparent;
}

#clear-btn:hover,
#clear-btn:focus-visible {
  color: var(--custom-blue);
}

/* Notification list styles */

#notifications-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  /* background-color: rgba(0, 128, 0, 0.196); */
}

.notification-el {
  /* background-color: rgba(0, 0, 255, 0.163); */
  width: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.2rem;
  padding: 1.2rem 1.2rem 1.5rem 1.5rem;
}

.unread {
  background-color: var(--custom-very-light-grayish-blue);
}

.avatar-wrapper {
  /* width: 4rem; */
  flex: 13;
  max-width: 4.5rem;
  /* background-color: rgba(255, 0, 0, 0.347); */
}

.notification-helper {
  flex: 87;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.notification-content-wrap {
  display: flex;
  flex-direction: column;
  flex: 87;
  /* background-color: rgba(0, 128, 0, 0.477); */
  font-size: 1.4rem;
  gap: 1.5rem;
  color: var(--custom-dark-grayish-blue);
}

.notification-head {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.notification-action::after {
  display: none;
  content: "";
  background-color: var(--custom-red);
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
  vertical-align: middle;
  margin-left: 0.5rem;
}

.unread .notification-action::after {
  display: inline-block;
}

.user-name {
  font-size: 1.4rem;
  color: var(--custom-very-dark-blue);
  margin-right: 0.4rem;
}

.group-name {
  color: var(--custom-blue);
  margin-left: 0.3rem;
}

.post-name {
  color: var(--custom-dark-grayish-blue);
  margin-left: 0.3rem;
}

.user-name,
.group-name,
.post-name {
  cursor: pointer;
  font-weight: bold;
  transition: .3s;
}

.user-name:hover,
.group-name:hover,
.post-name:hover {
  color: var(--custom-blue);
}

.user-name:visited,
.group-name:visited,
.post-name:visited {
  color: var(--custom-dark-grayish-blue);
}

/* .notification-link {
  margin-left: .5rem;
  margin-right: .5rem;
  font-weight: bold;
  color: var(--custom-blue);
}
.notification-link:visited {
  color: var(--custom-dark-grayish-blue);
} */

.notification-time {
  color: var(--custom-grayish-blue);
}

.content-img-wrap {
  max-width: 4.5rem;
  flex: 17;
  cursor: pointer;
  transition: 0.3s;
  outline: 3px solid transparent;
}

.content-img-wrap:hover {
  outline: 3px solid var(--custom-light-grayish-blue-1);
  border-radius: 0.5rem;
}

.notification-content {
  padding: 1.5rem;
  border: 1px solid var(--custom-light-grayish-blue-2);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.notification-content:hover {
  background-color: var(--custom-light-grayish-blue-1);
}

/* Footer styles */

footer {
  width: 100%;
  text-align: center;
  margin-top: auto;
}

/* Media queries */

@media screen and (min-width: 730px) {
  body {
    padding: 6.2rem 0rem 0rem 0rem;
  }

  #component-wrapper {
    flex: none;
    border-radius: 1.5rem;
    padding: 3.5rem 3rem 1rem 3rem;
    gap: 3rem;
  }

  #notification-label {
    font-size: 2.45rem;
  }

  #notification-counter {
    font-size: 1.8rem;
  }

  #clear-btn {
    font-size: 1.4rem;
    letter-spacing: 0.03rem;
  }

  .notification-el {
    gap: 2rem;
    padding: 1.7rem 1.7rem 1.2rem 1.7rem;
  }

  .notification-content-wrap {
    font-size: 1.6rem;
  }

  .user-name {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 310px) {
  #notification-label {
    font-size: 1rem;
  }

  #notification-counter {
    font-size: 1rem;
  }

  #clear-btn {
    font-size: 1rem;
  }

  .notification-content-wrap {
    font-size: 1.2rem;
  }

  .user-name {
    font-size: 1.3rem;
  }

  .notification-content {
    padding: 1.2rem;
  }
}
