/* General styles, reset and typography */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

input,
button {
  font: inherit;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

span {
  display: block;
}

button {
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}

:root {
  /* ### Primary */

  --custom-white: hsl(0, 0%, 100%);
  --custom-black: hsl(0, 0%, 0%);
  --custom-dark-gray: hsl(0, 0%, 55%);
  --custom-very-dark-gray: hsl(0, 0%, 41%);
}

html {
  font-family: "Alata", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

h1,
h2,
span,
a {
  font-family: "Josefin Sans", sans-serif;
}

html,
body {
  height: 100%;
  min-width: 400px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5rem;
}

/* Mobile styles */

/* Mobile header styles */

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 21rem;
  min-width: 400px;
  padding: 2rem 4.7rem;
  z-index: 999;
}

.logo-wrapper {
  width: 29rem;
}

nav {
  position: absolute;
  bottom: calc(0rem - 100vh);
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--custom-black);
  order: 1;
  display: none;
  padding: 20rem 0rem 0rem 5rem;
}

#nav-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  font-size: 4.7rem;
  text-transform: uppercase;
  padding: 3rem 0rem 0rem 0rem;
}

.nav-el {
  transition: 0.3s;
  background-image: linear-gradient(white, white);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 0% 0.3rem;
}

.nav-el:hover,
.nav-el:focus-visible {
  background-size: 50% 0.3rem;
}

.nav-link {
  display: block;
  color: var(--custom-white);
}

#hamburger-wrapper {
  cursor: pointer;
  width: 4.7rem;
}

#hamburger-close {
  display: none;
}
#hamburger-open {
  display: block;
}

.menu-active {
  display: flex;
  background-color: var(--custom-black);
  opacity: 100%;
}

.show {
  display: block !important;
}
.hide {
  display: none !important;
}

.lock-scroll {
  overflow: hidden;
}

/* Mobile main section styles */

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* Mobile hero styles */

#hero-wrapper {
  position: relative;
  width: 100%;
  min-height: 130rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(80%);
}

h1 {
  font-size: 7.7rem;
  text-transform: uppercase;
  line-height: 1;
  padding-right: 1rem;
  border: 0.5rem solid var(--custom-white);
  color: var(--custom-white);
  padding: 4rem 4.7rem 3rem 4.7rem;
  max-width: 66rem;
}

/* Mobile main content styles */

#main-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5rem;
  padding: 15rem 2rem;
}

#main-helper-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5rem;
  padding: 4.2rem 2.5rem;
  text-align: center;
}

.img-desktop {
  display: none;
}

#content-helper {
  background-color: var(--custom-white);
  padding: 4.5rem 2rem;
}

h2 {
  font-size: 6.2rem;
  text-transform: uppercase;
}

#about-text {
  padding-top: 3.7rem;
  font-size: 2.9rem;
  font-weight: bold;
  line-height: 1.7;
  color: var(--custom-dark-gray);
}

/* Grid showcase styles */

#main-helper-bottom {
  display: grid;
  justify-items: center;
  gap: 3rem;
  padding: 5rem 2.5rem 4rem 2.5rem;
}

#creations-label {
  text-transform: uppercase;
  font-size: 6.5rem;
}

#creations-grid {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: 100%;
  padding: 5.5rem 0rem 3rem 0rem;
  gap: 5rem;
}

.creation-link {
  position: relative;
  display: block;
  transition: .3s;
}

.creation-link:hover,
.creation-link:focus-visible {
  opacity: 80%;
}

.creation-link:hover span {
  color: var(--custom-black);
}

.creation-el:first-of-type .creation-link:hover span,
.creation-el:nth-of-type(5) .creation-link:hover span {
  color: var(--custom-white);
}

.desktop-illu {
  display: none;
}

.creation-el span {
  position: absolute;
  color: var(--custom-white);
  text-transform: uppercase;
  font-size: 4.7rem;
  line-height: 1;
  bottom: 4rem;
  left: 4rem;
  z-index: 5;
  max-width: 24rem;
}

.creation-el:nth-of-type(4) span {
  max-width: 20rem;
}

#creations-btn {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.9rem;
  padding: 2rem 2rem;
  min-width: 32rem;
  border: 2px solid var(--custom-black);
  background-color: transparent;
}

#creations-btn:hover {
  color: var(--custom-white);
  background-color: var(--custom-black);
}

/* Mobile footer styles */

footer {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 10rem 2rem 2rem 2rem;
  background-color: var(--custom-black);
  color: var(--custom-dark-gray);
  text-align: center;
}

#left-col,
#right-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#left-col {
  gap: 5rem;
  padding: 1rem 1rem 3rem 1rem;
}

#foot-logo-wrapper {
  width: 29rem;
}

#footer-menu {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.foot-menu-el {
  border-width: 0 0 0.3rem 0;
  transition: 0.3s;
  background-image: linear-gradient(white, white);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 0% 0.3rem;
}

.foot-menu-link {
  padding: 1rem 2rem;
  display: block;
  color: var(--custom-white);
  font-size: 3rem;
  font-weight: bold;
}

.foot-menu-el:hover,
.foot-menu-el:focus-visible {
  background-size: 50% 0.3rem;
}

#right-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding: 1.5rem;
}

#foot-social-menu {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
  min-width: 29rem;
}

.social-menu-el {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.social-link {
  display: block;
  padding: 0rem 0rem 1rem 0rem;
  width: 4.7rem;
  background-image: linear-gradient(white, white);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 0% 0.3rem;
  transition: 0.3s;
}

.social-link:hover,
.social-link:focus-visible {
  background-size: 100% 0.3rem;
}

#attribution-helper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  font-size: 3rem;
}

.attribution {
  font-size: 1.2rem;
}

.attribution a {
  color: magenta;
  transition: 0.3s;
}

.attribution a:hover {
  color: var(--custom-white);
}

/* Media queries */

@media screen and (max-width: 700px) {
  header {
    min-height: 12rem;
    padding: 2rem 2rem;
  }

  .logo-wrapper {
    width: 18rem;
  }

  #hamburger-wrapper {
    width: 3.2rem;
  }

  #hero-wrapper {
    min-height: 90rem;
  }

  #hero-content {
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 3rem;
    line-height: 1.5;
    padding: 2rem 2rem 2rem 2rem;
    max-width: 38rem;
    width: 90%;
  }

  h2 {
    font-size: 4rem;
  }

  #about-text {
    font-size: 2.2rem;
    font-weight: normal;
  }

  #main-helper-bottom {
    padding: 5rem 1.5rem 4rem 1.5rem;
  }

  #creations-label {
    font-size: 4rem;
  }

  .creation-el span {
    font-size: 3.5rem;
    max-width: 20rem;
  }

  #creations-btn {
    padding: 2rem 2rem;
    min-width: 15rem;
  }
}

@media screen and (min-width: 1000px) {
  header {
    align-items: flex-end;
    min-height: 12rem;
    padding: 2.5rem 11.5%;
  }

  .logo-wrapper {
    width: 19rem;
  }

  nav {
    position: static;
    display: flex;
    height: auto;
    width: auto;
    padding: 0rem 0rem 0rem 0rem;
    background-color: transparent;
  }

  #nav-list {
    flex-direction: row;
    gap: 2.5rem;
    font-size: 1.8rem;
    text-transform: capitalize;
    padding: 0rem 0rem 0rem 0rem;
  }

  .nav-el {
    background-position: bottom center;
  }

  #hamburger-wrapper {
    display: none;
  }

  /* Desktop main section styles */

  #hero-wrapper {
    min-height: 65rem;
    align-items: flex-start;
    background-image: url(./images/desktop/image-hero.jpg);
    padding: 8rem 0rem 0rem 16rem;
  }

  h1 {
    font-size: 6.9rem;
    border: 0.3rem solid var(--custom-white);
  }

  /* Desktop main content styles */

  #main-content-wrapper {
    gap: 10rem;
    padding: 12rem 2rem;
    width: 100%;
  }

  .img-mob {
    display: none;
  }

  .img-desktop {
    display: block;
  }

  #main-helper-top {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    gap: 0rem;
    padding: 4rem 2rem;
    text-align: left;
  }

  #about-img-wrap {
    grid-column: 1/5;
    grid-row: 1/5;
  }

  #content-helper {
    padding: 9rem 0rem 0rem 11rem;
    grid-column: 4/7;
    grid-row: 2/5;
    max-width: 570px;
    align-self: flex-end;
  }

  h2 {
    font-size: 4.7rem;
  }

  #about-text {
    padding: 2rem 1rem 0rem 0rem;
    font-size: 1.4rem;
  }

  /* Grid showcase desktop styles */

  #main-helper-bottom {
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem 2rem 1rem;
    grid-template-rows: 10rem 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "label button"
      "creations creations";
  }

  #creations-label {
    font-size: 4.8rem;
    grid-area: label;
    justify-self: start;
  }

  #creations-grid {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    padding: 4.5rem 0rem 4.5rem 0rem;
    gap: 3rem;
    grid-area: creations;
  }

  .desktop-illu {
    display: block;
  }

  .mobile-illu {
    display: none;
  }

  .creation-el span {
    font-size: 3.2rem;
    bottom: 3.2rem;
    max-width: 17rem;
  }

  .creation-el:nth-of-type(4) span {
    max-width: 8rem;
  }

  #creations-btn {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    padding: 1rem 2rem;
    min-width: 15.5rem;
    grid-area: button;
    justify-self: end;
  }

  /* Footer desktop styles */

  footer {

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 15.5rem;
  }

  #left-col,
  #right-col {
    justify-content: center;
  }

  #left-col {
    gap: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    align-items: flex-start;
  }

  #foot-logo-wrapper {
    width: 14.5rem;
  }

  #footer-menu {
    padding: 1rem 1rem 1rem 0rem;
    flex-direction: row;
    gap: 3.2rem;
  }


  .foot-menu-link {
    padding: 0.5rem 0rem;
    font-size: 1.5rem;
  }


  #right-col {
    align-items: flex-end;
    gap: 2rem;
    padding: 2rem 1rem 1rem 1rem;
  }

  #foot-social-menu {
    min-width: 15rem;
  }


  .social-link {
    width: 2.5rem;
  }


  #attribution-helper {
    font-size: 1.5rem;
  }

}


@media screen and (min-width: 1000px) and (max-width: 1200px) {

#content-helper {
  max-width: 550px;
}

h2 {
  font-size: 3rem;
}

}