/* General styles, reset and typography */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button {
  font: inherit;
}

p,
h1,
h2,
h3 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
}

ul,
ol {
  list-style: none;
}

span {
    display: block;
}

button {
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.3s;
}

:root {
    /* ### Primary */
    
    --custom-white: hsl(0, 0%, 100%);
    --custom-black: hsl(0, 0%, 0%);
    --custom-dark-gray: hsl(0, 0%, 55%);
    --custom-very-dark-gray: hsl(0, 0%, 41%);
}

html {
    font-family: "Alata", sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
    /* font-family: 'Josefin Sans', sans-serif; */
}

html,
body {
    height: 100%;
}

body {
    font-size: 1.5rem;
}


/* Mobile styles */

/* Media queries */
