/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

span {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

/* Global and typography */

:root {
  /* ### Primary */
  --custom-red: hsl(0, 100%, 68%);

  /* ### Neutral */

  --custom-very-dark-blue: hsl(230, 29%, 20%);
  --custom-dark-grayish-blue: hsl(230, 11%, 40%);
  --custom-grayish-blue: hsl(231, 7%, 65%);
  --custom-light-grayish-blue: hsl(207, 33%, 95%);
}

html {
  font-family: "Barlow", sans-serif;
  font-size: 10px;
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

body::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  height: 53%;
  width: 50%;
  background-color: var(--custom-light-grayish-blue);
  border-radius: 0rem 0rem 0rem 6rem;
  z-index: -999;
}

/* Header and navigation styles */

header {
  position: relative;
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.2rem;
}

.logo-wrap {
  width: 2.5rem;
  height: 2.5rem;
}

nav {
  position: absolute;
  bottom: -23.5rem;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  display: none;
  align-items: center;
  justify-content: center;
  height: 23.5rem;
  width: 31rem;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem -1rem var(--custom-dark-grayish-blue);
  z-index: 999;
}

.show-mob-menu {
  display: flex;
}

nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  flex: 1;
  padding: 1.5rem;
}

nav a {
  font-family: "Barlow Condensed", sans-serif;
  color: var(--custom-very-dark-blue);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.1rem;
  transition: 0.3s;
}

.login {
  color: var(--custom-grayish-blue);
}

nav a:hover,
nav a:focus {
  text-decoration: underline;
}

.divider {
  width: 100%;
  height: .1rem;
  background-color: var(--custom-grayish-blue);
  opacity: 50%;
  border-radius: 100%;
}

.menu-control-wrap {
  background-image: url(./images/icon-hamburger.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 2.5rem;
  height: 1.7rem;
}

.menu-active {
  background-image: url(./images/icon-close.svg);
}

/* Main styles */

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  padding-top: 2.2rem;
}

.hero-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 7rem;
  padding-bottom: 2rem;
}

.hero-image-wrapper {
  width: 100%;
  height: 24.3rem;
  position: relative;
  overflow: hidden;
}

.hero-image-wrapper img {
  position: absolute;
  width: 50rem;
  right: -13.5rem;
}

.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 1.7rem 3.2rem 1rem 3.2rem;
  gap: 1.3rem;
}

.sub-cap,
h1,
.cta-wrap {
  font-family: "Barlow Condensed", sans-serif;
}

.sub-cap {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.highlight {
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  background-color: var(--custom-very-dark-blue);
  border-radius: 1.5rem;
  color: var(--custom-light-grayish-blue);
  padding: 0.3rem 1rem;
}

.sub {
  color: var(--custom-grayish-blue);
  letter-spacing: 0.5rem;
}

h1 {
  color: var(--custom-very-dark-blue);
  font-size: 4rem;
  line-height: 4.4rem;
}

p {
  color: var(--custom-dark-grayish-blue);
  font-size: 1.8rem;
  line-height: 2.5rem;
  padding-right: 2rem;
}

.sub-cap,
h1,
.cta-wrap,
.cta-btn {
  text-transform: uppercase;
}

.cta-wrap {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.cta-btn {
  font-size: 1.1rem;
  font-weight: bold;
  border: 1px solid transparent;
  padding: 1.3rem 2.5rem;
  border-radius: 0.7rem;
  background-color: var(--custom-red);
  color: var(--custom-light-grayish-blue);
  cursor: pointer;
  transition: 0.3s;
}

.cta-btn:hover,
.cta-btn:focus {
  background-color: #ff8584;
}

.cta-sub {
  color: var(--custom-grayish-blue);
  font-size: 1.5rem;
  letter-spacing: 0.04rem;
}

/* Footer */

footer {
  margin-top: auto;
}

.attribution {
  font-size: 1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media queries */


@media screen and (min-width: 875px) {

  body::after {
    width: 49%;
  }

  header {
    height: 12rem;
    align-items: flex-end;
    padding: 1rem 13rem 2.3rem 16.5rem;
  }

  .logo-wrap {
    width: 3.3rem;
    height: 3.3rem;
  }

  nav {
    position: static;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    height: 4rem;
    width: 45rem;
    padding: 1rem;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
  }

  nav ul {
    flex-direction: row;
    gap: .8rem;
    padding: 1.7rem 1rem 1.2rem 1rem;
  }
  
  nav a {
    font-size: 1.7rem;
  }
  
  .divider {
    width: .6rem;
    height: .6rem;
  }

  .menu-control-wrap {
    display: none;
  }


  /* Desktop content styles  */

  main {
    justify-content: center;
  }
  
  .hero-wrapper {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding-bottom: 3rem;
  }
  
  .hero-image-wrapper {
    height: 46.5rem;
  }
  
  .hero-image-wrapper img {
    width: 95.5rem;
    right: -26.5rem;
  }
  
  .hero-content-wrapper {
    align-self: flex-start;
    justify-content: center;
    padding: 4.7rem 6rem 1rem 16.5rem;
    gap: 1rem;
  }
  
  .sub-cap {
    padding-bottom: 1rem;
  }
  
  h1 {
    font-size: 6.4rem;
    line-height: 6.2rem;
    padding-bottom: 2rem;
    max-width: 50rem;
  }
  
  p {
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding-right: 2rem;
    max-width: 30rem;
  }
  
  .cta-wrap {
    margin-top: 5.7rem;
  }
  
  .cta-btn {
    font-size: 1.3rem;
    padding: 1.5rem 3.3rem;
    min-width: 18.5rem;
  }
  
  .cta-sub {
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    min-width: 17.6rem;
  }

}

@media screen and (min-width: 875px) and (max-width: 1430px) {
  .hero-image-wrapper {
    height: 26.5rem;
  }
  
  .hero-image-wrapper img {
    width: 50.5rem;
    right: -12.5rem;
  }

  .hero-content-wrapper {
    padding: 4.7rem 6rem 1rem 5.5rem;
  }
}