/* Reset, typography and general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  display: block;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
  display: block;
}

button {
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}

:root {
  /* ### Primary */

  --custom-dark-violet: hsl(256, 26%, 20%);
  --custom-grayish-blue: hsl(216, 30%, 68%);

  /* ### Neutral */

  --custom-very-dark-violet: hsl(270, 9%, 17%);
  --custom-dark-grayish-violet: hsl(273, 4%, 51%);
  --custom-very-light-gray: hsl(0, 0%, 98%);
}

html {
  font-size: 10px;
  font-family: "Karla", sans-serif;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
}

html,
body {
  min-height: 100vh;
  min-width: 275px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* Mobile styles */

/* Header mobile styles */

header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  min-height: 8rem;
  /* background-color: rgba(0, 0, 255, 0.344); */
}

.logo-wrapper {
  width: 11rem;
}

nav {
  display: none;
  position: absolute;
  top: 8rem;
  left: 0;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: flex-start;
  padding: 3rem 1.5rem;
  background-color: var(--custom-very-dark-violet);
  z-index: 2;
  background-image: url(./images/bg-pattern-mobile-nav.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% 30rem;
}

.show-nav {
  display: flex;
}

#nav-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 2.7rem;
  /* background-color: gold; */
  padding: 1.5rem 1rem;
}

#nav-menu li {
  /* background-color: green; */
  padding: 0.5rem 1rem;
}

#nav-menu li:last-of-type {
  width: 100%;
  border: 2px solid white;
  padding: 1.3rem 2rem;
}

#nav-menu a {
  text-transform: uppercase;
  color: white;
  font-size: 2.2rem;
  font-weight: bold;
}

.menu-icon-wrapper {
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  background-image: url(./images/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-toggle {
  background-image: url(./images/icon-close.svg);
}

/* Main mobile styles */

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background-color: rgba(255, 0, 0, 0.258); */
}

/* Intro section mobile styles */

#intro {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 7rem;
  background-color: var(--custom-dark-violet);
  padding: 0 0 7.5rem 0;
}

#intro::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}

#intro::after {
  width: 100%;
  height: 37rem;
  bottom: -20rem;
  right: 0;
  background-image: url(./images/bg-pattern-intro-right-mobile.svg);
  background-position: right;
}

.intro-img-wrapper {
  position: relative;
  width: 100%;
}

.intro-img-wrapper::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  bottom: -18rem;
  width: 100%;
  height: 18rem;
  background-image: url(./images/bg-pattern-intro-left-mobile.svg);
}

.intro-content-wrapper {
  position: relative;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  text-align: center;
  color: var(--custom-very-light-gray);
}

.intro-content-wrapper::before {
  display: none;
  position: absolute;
  top: 0;
  left: 15%;
  content: "";
  width: 10rem;
  height: 0.1rem;
  background-color: var(--custom-very-light-gray);
}

.intro-content-wrapper h1 {
  font-size: 4.5rem;
  line-height: 5rem;
}

.intro-content-wrapper p {
  padding: 0 1rem 1.7rem 1rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

#intro-btn {
  font-size: 1.4rem;
  letter-spacing: 0.14rem;
  padding: 1rem 2.8rem;
  color: var(--custom-very-light-gray);
  border: 1px solid var(--custom-very-light-gray);
  background-color: transparent;
  text-transform: uppercase;
}

#intro-btn:hover,
#intro-btn:focus-visible {
  background-color: var(--custom-very-light-gray);
  color: black;
}

/* Feature section mobile styles */

#features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 1rem;
  /* background-color: rgba(255, 217, 0, 0.285); */
  padding: 17rem 0rem 1rem 0rem;
}

#features h2 {
  position: relative;
  padding-top: 0.5rem;
  font-size: 4.5rem;
  /* background-color: rgba(0, 128, 128, 0.307); */
}

#features h2::before {
  position: absolute;
  top: -3rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  content: "";
  width: 15rem;
  height: 2px;
  background-color: gray;
}

.features-wrapper {
  /* background-color: rgba(0, 128, 0, 0.353); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 3.2rem 0 3.4rem 0;
}

.feature-tile {
  /* background-color: orange; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 90%;
  padding: 3rem 0 2rem 0;
}

.feature-icon-wrapper {
  width: 9rem;
}

.feature-heading {
  padding-top: 2rem;
  font-size: 2.6rem;
}

.feature-desc {
  font-size: 1.6rem;
  line-height: 2.5rem;
  padding: 0.5rem 0.7rem 0rem 0.7rem;
}

/* Details section mobile styles */

#details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* background-color: rgba(0, 0, 255, 0.316); */
  padding: 8rem 2.5rem 14rem 2.5rem;
}

.details-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  text-align: center;
  background-color: var(--custom-dark-violet);
  width: 100%;
  padding: 7rem 0;
}

.details-wrapper::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  height: 100%;
  width: 55%;
  background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 0;
}

.details-wrapper h3 {
  color: white;
  font-weight: normal;
  font-size: 3.9rem;
  line-height: 4rem;
  z-index: 1;
}

#details-btn {
  color: white;
  font-size: 1.6rem;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid white;
  padding: 1rem 2.2rem;
  z-index: 1;
}

#details-btn:hover,
#details-btn:focus-visible {
  background-color: white;
  color: black;
}

/* Footer mobile styles */

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
  background-color: var(--custom-very-light-gray);
  padding: 1rem 2rem;
  gap: 2rem;
}

footer::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 20rem;
  background-image: url(./images/bg-pattern-footer-mobile.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 0;
}

.top-helper {
  width: 100%;
  min-height: 19.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
  padding: 1rem 1rem 4rem 1rem;
  border-bottom: 1px solid grey;
  z-index: 1;
  /* background-color: rgba(0, 128, 0, 0.384); */
}

.footer-logo-wrapper {
  width: 11rem;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.social-icon-wrapper {
  width: 2.5rem;
}

.social-icon-wrapper img {
  transition: 0.3s;
}

.social-icon-wrapper img:hover {
  filter: brightness(50%);
}

.bottom-helper {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 2.9rem;
  padding: 2rem 1.5rem;
  /* background-color: gold; */
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* background-color: rgba(0, 128, 0, 0.282); */
  padding: 0 0 1rem 0;
}

.menu-name {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.03rem;
  color: dimgray;
}

.menu-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.menu-wrapper a {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--custom-very-dark-violet);
}

.menu-wrapper a:hover,
.menu-wrapper a:focus-visible {
  text-decoration: underline;
}

.attribution {
  margin-top: auto;
  text-align: center;
  width: 100%;
}

/* Media queries */


@media screen and (min-width: 650px) {
  header {
    padding: 1rem 2rem 1rem 3rem;
  }

  nav {
    display: flex;
    position: static;
    height: 5rem;
    width: auto;
    justify-content: center;
    padding: 1.2rem 1rem 1rem 1rem;
    background-image: none;
    background-color: transparent;
  }

  #nav-menu {
    flex-direction: row;
    gap: 1.4rem;
    padding: 0rem 1.5rem;
    width: auto;
  }

  #nav-menu li {
    padding: 1rem 0.7rem;
    white-space: nowrap;
    color: var(--custom-dark-grayish-violet);
    transition: 0.3s;
    cursor: pointer;
  }

  #nav-menu li:last-of-type {
    color: black;
    border: 2px solid black;
    width: auto;
    padding: 1rem 2.8rem;
  }

  #nav-menu li:hover,
  #nav-menu li:focus-visible {
    color: black;
  }

  #nav-menu li:last-of-type:hover,
  #nav-menu li:last-of-type:focus-visible {
    color: white;
    background-color: black;
  }

  #nav-menu a {
    color: inherit;
    font-size: 1.3rem;
  }

  .menu-icon-wrapper {
    display: none;
  }

  /* Intro section desktop */

  #intro {
    flex-direction: column;
    justify-content: flex-start;
    padding: 5rem 3rem 5rem 3rem;
  }

  #intro::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(./images/bg-pattern-intro-left-desktop.svg);
    height: 50rem;
    width: 23rem;
    left: 0;
    bottom: -25rem;
  }

  #intro::after {
    width: 50rem;
    height: 55rem;
    bottom: auto;
    top: 0;
    background-image: url(./images/bg-pattern-intro-right-desktop.svg);
    background-position: top -8rem right;
  }

  .intro-img-wrapper {
    position: static;
    width: auto;
    min-width: 45rem;
    border-radius: 2rem;
    overflow: hidden;
  }

  .intro-img-wrapper::after {
    display: none;
  }

  .intro-content-wrapper {
    max-width: 61rem;
    gap: 3rem;
  }

  .intro-content-wrapper::before {
    display: block;
    left: 7%;
    width: 15rem;
  }

  .intro-content-wrapper h1 {
    font-size: 6.7rem;
    line-height: 6.2rem;
  }

  .intro-content-wrapper p {
    padding: 0 1rem 0rem 0rem;
  }
}

@media screen and (min-width: 1000px) {
  header {
    padding: 1rem 13rem 1rem 17rem;
  }

  nav {
    padding: 1.2rem 2rem 1rem 2rem;
  }

  #nav-menu {
    gap: 1.8rem;
  }

  #nav-menu a {
    font-size: 1.5rem;
  }


}



@media screen and (min-width: 1420px) {
  #intro {
    flex-direction: row;
    min-height: 60rem;
    justify-content: flex-start;
    padding: 5rem 12rem 5rem 12rem;
  }

  #intro::before {
    bottom: -33rem;
  }


  .intro-img-wrapper {
    position: absolute;
    top: 10.5rem;
    left: 50%;
    transform: translate(3%, 0);
    min-width: 54rem;
    border-radius: unset;
    overflow: unset;
  }

  .intro-content-wrapper {
    position: absolute;
    right: 50%;
    transform: translate(2%, 0);
    width: auto;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding: 6.5rem 2rem 3rem 4.5rem;
  }

  .intro-content-wrapper h1 {
    padding-right: 5rem;
  }

  /* Feature section desktop styles */

#features {
  width: 100%;
  align-items: flex-start;
  text-align: left;
  gap: 2rem;
  background-color: rgba(255, 217, 0, 0.285);
  padding: 31rem 10rem 3rem 13.5rem;
}

#features h2 {
  padding-top: 4.5rem;
  padding-left: 3rem;
  font-size: 6.7rem;
  background-color: rgba(0, 128, 128, 0.307);
}

#features h2::before {
  top: -.5rem;
  left: 0;
  right: unset;
  width: 15rem;
}

.features-wrapper {
  background-color: rgba(0, 128, 0, 0.353);
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 3.5rem 2rem 2rem 2rem;
}

.feature-tile {
  background-color: orange;
  align-items: flex-start;
  width: 37rem;
  padding: 3rem 1rem 2rem 1rem;
}

.feature-desc {
  font-size: 1.6rem;
  line-height: 2.5rem;
  padding: 0.5rem 0rem 0rem 0rem;
}


/* Details section desktop styles */

#details {
  width: 100%;
  padding: 9rem 2.5rem 15rem 2.5rem;
}

.details-wrapper {
  flex-direction: row;
  align-items: center;
  text-align: left;
  width: 80%;
  padding: 6.5rem 8.2rem;
}

.details-wrapper::after {
  width: 40%;
  background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
}

.details-wrapper h3 {
  font-size: 5.5rem;
  line-height: 6.2rem;
  max-width: 49rem;
}

/* Footer desktop styles */

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
  background-color: var(--custom-very-light-gray);
  padding: 1rem 2rem;
  gap: 2rem;
}

footer::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 20rem;
  background-image: url(./images/bg-pattern-footer-mobile.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 0;
}

.top-helper {
  width: 100%;
  min-height: 19.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
  padding: 1rem 1rem 4rem 1rem;
  border-bottom: 1px solid grey;
  z-index: 1;
  /* background-color: rgba(0, 128, 0, 0.384); */
}

.footer-logo-wrapper {
  width: 11rem;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.social-icon-wrapper {
  width: 2.5rem;
}

.social-icon-wrapper img {
  transition: 0.3s;
}

.social-icon-wrapper img:hover {
  filter: brightness(50%);
}

.bottom-helper {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 2.9rem;
  padding: 2rem 1.5rem;
  /* background-color: gold; */
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* background-color: rgba(0, 128, 0, 0.282); */
  padding: 0 0 1rem 0;
}

.menu-name {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.03rem;
  color: dimgray;
}

.menu-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.menu-wrapper a {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--custom-very-dark-violet);
}

.menu-wrapper a:hover,
.menu-wrapper a:focus-visible {
  text-decoration: underline;
}

.attribution {
  margin-top: auto;
  text-align: center;
  width: 100%;
}

}
