* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ### Primary */

  --custom-very-dark-blue: hsl(243, 87%, 12%);
  --custom-desaturated-blue: hsl(238, 22%, 44%);

  /* ### Accent */

  --custom-bright-blue: hsl(224, 93%, 58%);
  --custom-moderate-cyan: hsl(170, 45%, 43%);

  /* ### Neutral */

  --custom-light-grayish-blue: hsl(240, 75%, 98%);
  --custom-light-gray: hsl(0, 0%, 75%);

  /* font-family: 'Raleway', sans-serif; */
}

html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Header styling */

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 10rem;
  padding: 0 4.4rem;
}

#logo-wrapper {
  padding-bottom: 0.3rem;
}

#logo-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
}

nav ul {
  display: flex;
  gap: 5.2rem;
}

.menu-element {
  padding-bottom: 1.3rem;
  list-style: none;
}

.menu-element a {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 2.4rem;
  text-decoration: none;
  color: var(--custom-very-dark-blue);
  transition: 0.3s;
}

.menu-element a:hover {
  color: var(--custom-bright-blue);
}

/* Main styles */

main {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* First section styling */

#top-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 18rem 6rem 27rem 6rem;
  background-image: url(./images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.section-ilu {
  padding: 1rem 1rem;
  width: 100%;
}

.section-ilu img {
  display: block;
  width: 100%;
  height: 100%;
}

.section-desc {
  padding-top: 7rem;
  color: var(--custom-very-dark-blue);
  text-align: center;
}

.section-desc h1 {
  font-family: "Raleway", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  line-height: 7.2rem;
}

.section-desc p {
  padding-top: 4.5rem;
  padding: 4.5rem 3rem 0rem 1rem;
  font-size: 2.8rem;
  line-height: 4.2rem;
}

#top-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3.2rem;
  align-items: center;
  padding-top: 6.2rem;
  padding-left: 1.5rem;
  padding-right: 0.8rem;
  padding-bottom: 1rem;
}

.input-helper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#top-form input,
#top-form button {
  font-family: "Open Sans", sans-serif;
  padding: 2.3rem 0rem;
  border-radius: 0.5rem;
  font-size: 2.5rem;
}

#top-form input {
  color: var(--custom-desaturated-blue);
  background-color: transparent;
  width: 100%;
  border: 2px solid black;
  padding-left: 3.9rem;
}


.section-desc .error-message-top {
  display: none;
  line-height: normal;
  align-self: flex-start;
  padding: .3rem 0 0 0;
  color: red;
  font-size: 1.7rem;
}

#top-form input:not(:placeholder-shown):invalid {
  border: 2px solid red;
}
#top-form input:not(:focus):not(:placeholder-shown):invalid ~ .error-message-top {
  display: block;
}
#top-form input:not(:focus):not(:placeholder-shown):valid {
  border: 2px solid green;
}


#top-form button {
  font-weight: 700;
  width: 100%;
  border: 1px solid transparent;
  color: white;
  background-color: var(--custom-bright-blue);
  cursor: pointer;
  transition: 0.3s;
}

#top-form button:hover,
#top-form button:focus {
  background-color: #6b9bff;
}

/* Middle section styles */

#middle-section {
  /* background-color: var(--custom-light-grayish-blue); */
  background-color: #f8f8fe;
  /* background-color: rgba(220, 20, 60, 0.534); */
  padding: 7.5rem 4rem 16.5rem 4rem;
}

#middle-section .section-ilu {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.section-content {
  padding-top: 17rem;
  color: var(--custom-very-dark-blue);
  text-align: center;
}

.section-content h2 {
  font-family: "Raleway", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
}

.section-details {
  display: flex;
  flex-direction: column;
  padding-top: 5.5rem;
  font-size: 2.8rem;
  color: var(--custom-very-dark-blue);
  text-align: left;
}

.section-details p {
  line-height: 4.1rem;
  padding-right: 1rem;
  padding-bottom: 3.5rem;
}

.section-details a {
  font-size: 2.4rem;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 2.7rem;
  /* background-color: rgba(137, 43, 226, 0.273); */
  padding: 1.1rem 0rem;
  color: var(--custom-moderate-cyan);
  border-bottom: 2px solid var(--custom-moderate-cyan);
  transition: 0.3s;
}

.section-details a::after {
  height: 3rem;
  width: 3rem;
  content: "";
  background-image: url(./images/icon-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  margin-left: 1.1rem;
  vertical-align: middle;
}

.section-details a:hover,
.section-details a:focus {
  color: #83d7c7;
  border-bottom: 2px solid #83d7c7;
}

#quotewrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 2.1rem;
  text-align: justify;
  padding: 8.5rem 3.1rem 4.1rem 5.3rem;
  background-image: url(./images/icon-quotes.svg);
  background-repeat: no-repeat;
  background-size: 2.35rem;
  background-position: top 4.6rem left 5.5rem;
  width: 84%;
  margin: 0 auto;
  margin-top: 7.8rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0px 0px 30px -10px var(--custom-light-gray);
}

#quotewrap p {
  line-height: 3.5rem;
  padding-right: 1rem;
  padding-bottom: 2.6rem;
}

.user-cred {
  display: flex;
  gap: 1.7rem;
}
.avatar-wrapper {
  width: 4.7rem;
  height: 4.7rem;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-wrapper img {
  display: block;
  height: 100%;
  width: 100%;
}

.quoteauthor {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.quoteautor span {
  display: block;
}

.authorname {
  font-size: 2rem;
  font-weight: 700;
}

.authorpos {
  font-size: 1.3rem;
}

/* Bottom section styles */

#bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  text-align: center;
  background-color: var(--custom-desaturated-blue);
  padding: 6rem 3rem 13.8rem 3rem;
}

.bottom-content {
  text-align: center;
  padding: 4.9rem 6rem 4.7rem 4.7rem;
}

.bottom-content h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  padding-bottom: 4rem;
}

.bottom-content p {
  font-family: "Open Sans", sans-serif;
  font-size: 2.6rem;
  line-height: 4.2rem;
  letter-spacing: 0.1rem;
}

.bottom-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1.3rem;
}

.botinput-helper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.botinput-helper .error-message-bot {
  text-align: left;
  display: none;
  color: red;
  font-size: 1.7rem;
  padding-top: .3rem;
  width: 70%;
}

.bottom-form input,
.bottom-form button {
  font-family: "Open Sans", sans-serif;
  padding: 1.8rem 1.5rem;
  font-size: 1.9rem;
  width: 70%;
  border: 2px solid transparent;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.75);
}

.bottom-form input {
  border: 2px solid transparent;
  color: var(--custom-light-gray);
}


.bottom-form input:not(:placeholder-shown):invalid {
  border: 2px solid red;
}

.bottom-form input:not(:focus):not(:placeholder-shown):valid {
  border: 2px solid green;
} 

.bottom-form input:not(:focus):not(:placeholder-shown):invalid ~ .error-message-bot {
  display: block;
}


.bottom-form button {
  color: white;
  background-color: var(--custom-bright-blue);
  cursor: pointer;
  transition: 0.3s;
}

.bottom-form button:hover,
.bottom-form button:focus {
  background-color: #6b9bff;
}

/* Footer styles */

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  padding: 13rem 8.1rem 0rem 8.1rem;
  width: 100%;
  color: white;
  background-color: var(--custom-very-dark-blue);
  font-size: 3.2rem;
}

footer a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

footer a:hover,
footer a:focus {
  color: #757ebf;
}

.footlogo-wrap {
  width: 35rem;
  height: 10.5rem;
}

.footlogo-wrap img {
  display: block;
  width: 100%;
  height: 100%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(141deg)
    brightness(1000%) contrast(100%);
}

.contact {
  padding-top: 7.7rem;
  padding-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

/* #footphone,
#footemail {
  display: block;
} */

#footphone::before,
#footemail::before {
  content: "";
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 4rem;
}

#footphone::before {
  background-image: url(./images/icon-phone.svg);
}

#footemail::before {
  background-image: url(./images/icon-email.svg);
}

footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3.2rem;
  list-style: none;
}

.footmenu1 {
  padding-bottom: 2.5rem;
}

.footmenu2 {
  padding-bottom: 1rem;
}

.footsocialicons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 2.6rem;
}

.footsocialicons ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footsocialicons a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 50%;
  padding: 1rem;
}
.footsocialicons a:hover,
.footsocialicons a:focus {
  border: 2px solid #757ebf;
}

.attribution {
  width: 100%;
  font-size: 1rem;
  text-align: center;
}
.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}

/* Media queries */

@media screen and (max-width: 650px) {


  header {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30rem;
    padding: 0 1rem;
  }
  
  #logo-wrapper {
    padding-top: 1rem;
    padding-bottom: .5rem;
  }
  
  
  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }


  #top-section {
    padding-top: 10rem;
  }


  footer {
    align-items: center;
    padding: 7rem 5rem 0rem 5rem;
    font-size: 2.5rem;
  }

  
  .footlogo-wrap {
    width: 30rem;
    height: 8.5rem;
  }
  
  
  .contact {
    padding-top: 4rem;
    padding-bottom: 8rem;
    gap: 3.5rem;
  }
  
  
  #footphone::before,
  #footemail::before {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }
  
  footer ul {
    align-items: center;
    gap: 3.2rem;
  }
  
  .footmenu1 {
    padding-bottom: 7rem;
  }
  
  .footmenu2 {
    padding-bottom: 4rem;
  }

}

@media screen and (min-width: 1100px) {


  header {
    height: 12rem;
    padding: 0 8rem;
  }

  #logo-wrapper {
    padding-bottom: .7rem;
  }

  nav ul {
    gap: 5.5rem;
  }
  
  .menu-element {
    padding-bottom: 2.1rem;
  }
  
  .menu-element a {
    font-size: 1.7rem;
  }

  #top-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding: 7.8rem 7.8rem 28rem 7.7rem;
    background-image: url(./images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }
  
  #top-section .section-ilu {
    padding: 0;
    width: 50%;
  }
  
  .section-desc {
    padding-top: 8rem;
    width: 50%;
    text-align: left;
  }
  
  .section-desc h1 {
    font-size: 4rem;
    line-height: 5.8rem;
  }
  
  .section-desc p {
    padding: 1.7rem 4rem 0rem 0rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  
  #top-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.5rem;
    align-items: flex-start;
    padding-top: 2.2rem;
    padding-left: 0rem;
    padding-right: 2rem;
    padding-bottom: 4.5rem;
  }
  
  .input-helper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 52%;
  }
  
  #top-form input,
  #top-form button {
    padding: 1.2rem 0rem;
    font-size: 1.5rem;
  }
  
  #top-form input {
    width: 100%;
    border: 2px solid black;
    padding-left: 2.2rem;
  }

  #top-form button {
    width: 48%;
  }
  
  
  .section-desc .error-message-top {
    display: none;
    line-height: normal;
    align-self: flex-start;
    padding: .3rem 0 0 0;
    color: red;
    font-size: 1.7rem;
  }
  
  
  #top-form button {
    width: 32%;
  }

  /*  mid section */


  #middle-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f8f8fe;
    padding: 2rem 4rem 10.5rem 4rem;
  }
  
  #middle-section .section-ilu {
    padding-top: 6.7rem;
    padding-bottom: 0rem;
    padding-left: 3rem;
    padding-right: 4rem;
    width: 45%;
  }
  
  .section-content {
    padding-top: 4.1rem;
    padding-left: 4rem;
    color: var(--custom-very-dark-blue);
    text-align: left;
    width: 55%;
  }
  
  .section-content h2 {
    font-size: 4rem;
  }
  
  .section-details {
    display: flex;
    flex-direction: column;
    padding-top: 3.7rem;
    font-size: 1.6rem;
    text-align: left;
    padding-right: 17rem;
  }
  
  .section-details p {
    line-height: 2.5rem;
    padding-bottom: 1.6rem;
  }
  
  .section-details a {
    font-size: 1.6rem;
    margin: 0 auto 0 0;
    padding: 0rem 0rem;
  }
  
  .section-details a::after {
    height: 1.6rem;
    width: 1.6rem;
    background-position: center;
    background-size: cover;
    margin-left: 0.7rem;
  }
  
  
  #quotewrap {
    font-size: 1.4rem;
    text-align: left;
    padding: 5.2rem 1.5rem 2.7rem 3rem;
    background-size: 1.5rem;
    background-position: top 2.9rem left 3.2rem;
    width: 50%;
    margin: 0 auto 0 0;
    margin-top: 4.5rem;
  }
  
  #quotewrap p {
    line-height: 2.3rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
  }
  
  .user-cred {
    display: flex;
    gap: .9rem;
  }

  .avatar-wrapper {
    width: 3.2rem;
    height: 3.2rem;
  }
  
  .quoteauthor {
    gap: 0.1rem;
  }
  
  .authorname {
    font-size: 1.2rem;
  }
  
  .authorpos {
    font-size: .9rem;
  }

  /* bot section */

  
#bottom-section {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  padding: 6rem 3rem 6.5rem 3rem;
}

.bottom-content {
  text-align: left;
  padding: 4.5rem 10rem 2rem 4.7rem;
  width: 50%;
}

.bottom-content h3 {
  font-size: 3.25rem;
  padding-bottom: 1.9rem;
}

.bottom-content p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.bottom-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5rem 2rem 1rem 12rem;
  width: 50%;
  gap: 1.7rem;
}

.botinput-helper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 87%;
}

.botinput-helper .error-message-bot {
  text-align: left;
  display: none;
  color: red;
  font-size: 1.2rem;
  padding-top: .3rem;
  width: 70%;
}

.bottom-form button {
  padding: 1.2rem 1.5rem;
  font-size: 1.5rem;
  width: 36%;
}

.bottom-form input {
  padding: 1.4rem 1.5rem;
  font-size: 1.2rem;
  width: 100%;
}


/* footer styles */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  padding: 5rem 8.1rem 0rem 8.1rem;
  width: 100%;
  color: white;
  background-color: var(--custom-very-dark-blue);
  font-size: 1.6rem;
}


.footlogo-wrap {
  background-color: aqua;
  width: 17.5rem;
  height: 5.2rem;
}

.contact {
  background-color: chartreuse;
  padding-top: 0;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

#footphone::before,
#footemail::before {
  width: 2rem;
  height: 2rem;
  margin-right: 1.7rem;
}


footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.3rem;
}

.footmenu1 {
  background-color: coral;
  padding-bottom: 2.5rem;
}

.footmenu2 {
  background-color: darkorchid;
  padding-bottom: 1rem;
}

.footsocialicons {
  background-color: darkgoldenrod;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .1rem;
  font-size: 1.4rem;
}

.footsocialicons ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.footsocialicons a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 50%;
  padding: .7rem;
}

.attribution {
  align-self: flex-end;
  width: 100%;
  font-size: 1rem;
  text-align: center;
}
.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}

}