* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ### Primary */

  --custom-very-dark-blue: hsl(243, 87%, 12%);
  --custom-desaturated-blue: hsl(238, 22%, 44%);

  /* ### Accent */

  --custom-bright-blue: hsl(224, 93%, 58%);
  --custom-moderate-cyan: hsl(170, 45%, 43%);

  /* ### Neutral */

  --custom-light-grayish-blue: hsl(240, 75%, 98%);
  --custom-light-gray: hsl(0, 0%, 75%);

  /* font-family: 'Raleway', sans-serif; */
}

html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Header styling */

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 10rem;
  padding: 0 4.4rem;
  background-color: rgba(100, 148, 237, 0.247);
}

#logo-wrapper {
  padding-bottom: 0.3rem;
}

#logo-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
}

nav ul {
  display: flex;
  gap: 5.4rem;
}

.menu-element {
  padding-bottom: 1.3rem;
  list-style: none;
}

.menu-element a {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 2.4rem;
  text-decoration: none;
}

/* Main styles */

main {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* First section styling */

#top-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 18rem 6rem 27rem 6rem;
  background-image: url(./images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.section-ilu {
  padding: 1rem 1rem;
  width: 100%;
}

.section-ilu img {
  display: block;
  width: 100%;
  height: 100%;
}

.section-desc {
  padding-top: 7rem;
  color: var(--custom-very-dark-blue);
  text-align: center;
}

.section-desc h1 {
  font-family: "Raleway", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  line-height: 7.2rem;
}

.section-desc p {
  padding-top: 4.5rem;
  padding: 4.5rem 3rem 0rem 1rem;
  font-size: 2.8rem;
  line-height: 4.2rem;
}

#top-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3.2rem;
  align-items: center;
  padding-top: 6.2rem;
  padding-left: 1.5rem;
  padding-right: 0.8rem;
  padding-bottom: 1rem;
}

#top-form input,
#top-form button {
  font-family: "Open Sans", sans-serif;
  padding: 2.3rem 0rem;
  border-radius: 0.5rem;
  font-size: 2.5rem;
  cursor: pointer;
}

#top-form input {
  color: var(--custom-desaturated-blue);
  background-color: transparent;
  width: 100%;
  border: 1px solid black;
  padding-left: 3.9rem;
}

#top-form button {
  font-weight: 700;
  width: 100%;
  border: 1px solid transparent;
  color: white;
  background-color: var(--custom-bright-blue);
}

/* Middle section styles */

#middle-section {
  /* background-color: var(--custom-light-grayish-blue); */
  background-color: #f8f8fe;
  /* background-color: rgba(220, 20, 60, 0.534); */
  padding: 7.5rem 4rem 16.5rem 4rem;
}

#middle-section .section-ilu {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.section-content {
  padding-top: 17rem;
  color: var(--custom-very-dark-blue);
  text-align: center;
}

.section-content h2 {
  font-family: "Raleway", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
}

.section-details {
  display: flex;
  flex-direction: column;
  padding-top: 5.5rem;
  font-size: 2.8rem;
  color: var(--custom-very-dark-blue);
  text-align: left;
}

.section-details p {
  line-height: 4.1rem;
  padding-right: 1rem;
  padding-bottom: 3.5rem;
}

.section-details a {
  font-size: 2.4rem;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 2.7rem;
  /* background-color: rgba(137, 43, 226, 0.273); */
  padding: 1.1rem 0rem;
  color: var(--custom-moderate-cyan);
  border-bottom: 2px solid var(--custom-moderate-cyan);
}

.section-details a::after {
  height: 3rem;
  width: 3rem;
  content: "";
  background-image: url(./images/icon-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  margin-left: 1.1rem;
  vertical-align: middle;
}

#arrow {
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
}

#quotewrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 2.1rem;
  text-align: justify;
  padding: 8.5rem 3.1rem 4.1rem 5.3rem;
  background-image: url(./images/icon-quotes.svg);
  background-repeat: no-repeat;
  background-size: 2.35rem;
  background-position: top 4.6rem left 5.5rem;
  width: 84%;
  margin: 0 auto;
  margin-top: 7.8rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0px 0px 30px -10px var(--custom-light-gray);
}

#quotewrap p {
  line-height: 3.5rem;
  padding-right: 1rem;
  padding-bottom: 2.6rem;
}

.user-cred {
  display: flex;
  gap: 1.7rem;
}
.avatar-wrapper {
  width: 4.7rem;
  height: 4.7rem;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-wrapper img {
  display: block;
  height: 100%;
  width: 100%;
}

.quoteauthor {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.quoteautor span {
  display: block;
}

.authorname {
  font-size: 2rem;
  font-weight: 700;
}

.authorpos {
  font-size: 1.3rem;
}

/* Bottom section styles */

#bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  text-align: center;
  background-color: var(--custom-desaturated-blue);
  padding: 6rem 3rem 13.8rem 3rem;
}

.bottom-content {
  text-align: center;
  padding: 4.9rem 6rem 4.7rem 4.7rem;
}

.bottom-content h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  padding-bottom: 4rem;
}

.bottom-content p {
  font-family: "Open Sans", sans-serif;
  font-size: 2.6rem;
  line-height: 4.2rem;
  letter-spacing: 0.1rem;
}

.bottom-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1.4rem;
}

.bottom-form input, .bottom-form button {
  font-family: "Open Sans", sans-serif;
  padding: 1.8rem 1.5rem;
  font-size: 1.9rem;
  width: 70%;
  border: 2px solid transparent;
  border-radius: .3rem;
  box-shadow: 0px 0px 30px -20px rgba(0,0,0,0.75);
}

.bottom-form input {
  color: var(--custom-light-gray);
}

.bottom-form button {
  color: white;
  background-color: var(--custom-bright-blue);
}


/* Footer styles */

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  width: 100%;
  color: white;
  background-color: var(--custom-very-dark-blue);
}

.footlogo-wrap img {
  border: 1px solid red;
}

footer ul {
  list-style: none;
}

.attribution {
  font-size: 1rem;
  text-align: center;
}
.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}
