/* General styles, reset & typography */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid transparent;
}

:root {
  /* ### Primary */

  --custom-moderate-cyan: hsla(176, 50%, 47%, 100%);
  --custom-dark-cyan: hsla(176, 72%, 28%, 100%);

  /* ### Neutral */

  --custom-black: hsla(0, 0%, 0%, 100%);
  --custom-dark-gray: hsla(0, 0%, 48%, 100%);
  --custom-light-gray: hsla(0, 0%, 98%, 100%);
}

html {
  font-family: "Commissioner", sans-serif;
  font-size: 10px;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30rem 1fr;
  grid-template-areas:
    "hero"
    "content";
  background-color: var(--custom-light-gray);
  position: relative;
}

.body-no-scroll {
  min-height: 100vh;
  width: 100vw;
  touch-action: none;
  /* -webkit-overflow-scrolling: none; */
  overflow: hidden;
  overscroll-behavior: none;
}

#hero {
  grid-area: hero;
  background-image: url(./images/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Global styles */

.btn {
  background-color: var(--custom-moderate-cyan);
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 3rem;
  padding: 1.9rem 3rem;
}

.btn:hover, .btn:focus {
  background-color: var(--custom-dark-cyan);
}

p,
span {
  color: var(--custom-dark-gray);
}

/* Mobile styles */

header {
  grid-area: hero;
  position: relative;
  /* padding: 3.2rem 2.5rem 5rem 2.5rem; */
  padding: 2.7rem 1.7rem 5rem 2.5rem;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* Mobile menu styles */
#top-nav {
  display: none;
  position: absolute;
  top: 8.7rem;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
  width: 100%;
  max-width: 33rem;
  border-radius: 1rem;
  z-index: 10;
}

.active {
  display: block !important;
}

.nav-li {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 2.4rem 2.5rem;
  border-bottom: 1px solid #f3f3f3;
}

.nav-li:last-of-type {
  border: none;
}

.nav-link {
  color: var(--custom-black);
}

.nav-link:hover,
.nav-link:active {
  color: var(--custom-moderate-cyan);
}

#mobile-menu-control {
  cursor: pointer;
  z-index: 10;
}

.menu-icon-wrap {
  position: relative;
  /* width: 1.5rem; */
  width: 3rem;
  height: 3rem;
}

.menu-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 100%; */
  /* height: 100%; */
  transition: 0.3s;
}

#hamburger {
  opacity: 100%;
}

#close-menu {
  opacity: 0%;
}

.active #hamburger {
  opacity: 0% !important;
}

.active #close-menu {
  opacity: 100% !important;
}

#backdrop {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 50%);
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 20%,
    rgba(255, 255, 255, 0) 90%
  );
  height: 100%;
  width: 100%;
  z-index: 9;
}

.bdrop-active {
  display: block !important;
}

/* Main mobile styles */

main {
  grid-area: content;
  position: relative;
  padding: 0 2.5rem;
}

#main-helper {
  position: relative;
  top: -5.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  /* background-color: rgba(0, 128, 128, 0.471); */
}

.tile {
  width: 100%;
  border: 1px solid #f3f3f3;
  border-radius: 1rem;
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Project intro section styles mobile */

#project-intro {
  position: relative;
  /* padding-top: 5rem; */
  padding: 5rem 2rem 3.5rem 2rem;
  text-align: center;
}

.project-logo-wrapper {
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translate(-50%, 0);
}

#project-intro h1 {
  padding: 0 1rem;
}

#project-intro p {
  padding-top: 1.7rem;
  font-size: 1.4rem;
  line-height: 1.7;
}

.controls {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding-top: 2.2rem;
  /* background-color: pink; */
}

#back-project-btn {
  flex: 1;
}

#bookmark-btn {
  background-color: #2f2f2f;
  font-size: 0;
  border-radius: 50%;
  padding: 1.9rem 2.8rem;
  background-image: url(./images/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.bookmarked {
  color: var(--custom-dark-cyan);
  filter: invert(37%) sepia(30%) saturate(1134%) hue-rotate(129deg) brightness(92%) contrast(84%);
}

/* Project stats section styles mobile */

#project-stats {
  padding: 2.5rem 2.2rem 4.2rem 2.2rem;
}

#project-stats ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
}

.stat-el {
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem 1rem 2.5rem 1rem;
  /* background-color: rgba(255, 192, 203, 0.614); */
  box-shadow: 0rem 3.6rem 0rem -3.5rem #d8d8d8;
}

.stat-el:last-of-type {
  box-shadow: none;
}

.stat-value {
  font-weight: 700;
  font-size: 3.2rem;
  color: var(--custom-black);
}

.stat-label {
  font-size: 1.4rem;
}

#progress-wrap {
  width: 100%;
  min-height: 1rem;
  border-radius: 1rem;
  background-color: #f4f4f4;
}

#progress-value {
  width: 78%;
  height: 100%;
  min-height: 1rem;
  background-color: var(--custom-moderate-cyan);
  border-radius: 1rem;
}

/* About section mobile styles */

#project-about {
  gap: 2.5rem;
  padding: 3.5rem 2.2rem;
  align-items: flex-start;
}

#project-about h2 {
  font-size: 1.85rem;
}

#project-about p {
  font-size: 1.4rem;
  line-height: 1.7;
}

#pledge-options-wrap {
  /* background-color: rgba(255, 192, 203, 0.551); */
  padding: 1rem 0;
}

#pledge-options-wrap ul {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.pledge-li {
  align-items: flex-start;
  padding: 2.2rem 2.4rem;
  gap: 2.5rem;
}

.helper-top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.helper-top span {
  font-size: 1.4rem;
  color: var(--custom-moderate-cyan);
  font-weight: 500;
}

.pledge-li h3 {
  font-size: 1.4rem;
}

.reward-wrap {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
}

.helper-bot {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.items-left-value {
  font-size: 3rem;
  font-weight: 700;
  color: var(--custom-black);
}

.items-left-label {
  font-size: 1.6rem;
}

.pledge-li .btn {
  padding: 1.5rem 3rem;
  font-size: 1.25rem;
  min-width: 16rem;
}

/* Modals styles mobile */

#selection-modal {
  position: relative;
  left: 50%;
  transform: translate(-50%, 12rem);

  /* top: 12rem; */
  /* margin-top: 10vh; */
  /* margin-bottom: 10vh; */
  padding: 3.4rem 2.3rem;
  border-radius: 1rem;
  width: 87.5%;
  max-height: 70%;
  border: none;
}

#success-modal {
  position: fixed;
  width: 87.5%;
  top: 14.2rem;
  left: 50%;
  transform: translate(-50%, 0);
  border: none;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.4rem;
}

/* dialog::backdrop {
  margin-bottom: 20rem;
} */

.modal-wrap {
  padding: 3.2rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

#success-modal h2 {
  font-size: 1.8rem;
}

#success-modal p {
  line-height: 1.7;
}

/* dialog::backdrop {
  border: 1px solid red;
} */

.modal-helper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2.3rem;
}

.modal-helper h2 {
  font-size: 1.8rem;
}

#close-modal {
  font-size: 0;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  background-image: url(./images/icon-close-modal.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-info {
  font-size: 1.4rem;
  line-height: 1.7;
  padding-bottom: 2.2rem;
}

/* #pledges-form {
  background-color: rgba(255, 192, 203, 0.593);
} */

#pledges-form ul {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

#selection-modal .pledge-li {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
}

#selection-modal .pledge-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 2.5rem 2.2rem 2.5rem;
  gap: 2.5rem;
  /* background-color: rgba(0, 128, 0, 0.329); */
}

#selection-modal .pledge-li:first-of-type .pledge-top {
  padding: 3.5rem 2.5rem 3.2rem 2.5rem;
  gap: 3.5rem;
}

#selection-modal .pledge-li label {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  /* background-color: rgba(255, 192, 203, 0.589); */
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  display: grid;
  place-content: center;
  font: inherit;
  color: #f3f3f3;
  width: 2.4rem;
  height: 2.4rem;
  border: 0.2rem solid #f3f3f3;
  border-radius: 50%;
  cursor: pointer;
}

input[type="radio"]::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--custom-moderate-cyan);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

#selection-modal .pledge-label-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#selection-modal .pledge-name {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--custom-black);
  cursor: pointer;
  transition: .3s;
}

#selection-modal .pledge-name:hover {
  color: var(--custom-moderate-cyan);
}

#selection-modal .pledge-cost {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--custom-moderate-cyan);
}

#selection-modal .pledge-li p {
  font-size: 1.4rem;
  line-height: 1.7;
}

#selection-modal .pledge-items-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#selection-modal .items-left-value {
  font-size: 1.8rem;
  font-weight: 700;
}

#selection-modal .items-left-label {
  font-size: 1.5rem;
}

#selection-modal .pledge-bot {
  display: none;
  width: 100%;
  border-top: 1px solid #f3f3f3;
}

.pledge-options {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.9rem 2.5rem 2.5rem 2.5rem;
  /* background-color: pink; */
  gap: 2rem;
  font-size: 1.4rem;
}

.pledge-helper {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.input-wrap {
  position: relative;
  display: inline-flex;
}

.pledge-helper input {
  font: inherit;
  border-radius: 3rem;
  max-width: 10rem;
  padding-left: 4rem;
  font-size: 1.5rem;
  font-weight: 700;
  outline: 1px solid transparent;
  border: 1px solid #f3f3f3;
  cursor: pointer;
}

.pledge-helper input:hover, .pledge-helper input:focus {
  border: 1px solid var(--custom-moderate-cyan);
}

.input-wrap::before {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 2.5rem;
  content: "$";
  font-weight: 700;
  pointer-events: none;
  background-color: transparent;
}

.pledge-helper .btn {
  min-width: unset;
}

/* Active pledge option styles */

.option-picked {
  border: 1px solid var(--custom-moderate-cyan);
}

#selection-modal .option-picked .pledge-bot {
  display: flex;
}

/* Disabled state styles */
.disabled .pledge-name {
  color: #747474;
}

.disabled .pledge-cost {
  color: #c1e2db;
}

.disabled p {
  color: #cecece;
}

.disabled .items-left-value {
  color: #818181;
}

.disabled .items-left-label {
  color: #acacac;
}

.disabled .tile {
  border: 1px solid #eaeaea;
}

button:disabled {
  background-color: #cbcbcb;
  cursor: default;
}

.btn:disabled:hover, .btn:disabled:focus {
  background-color: #cbcbcb;
}

/* Footer styles mobile */

footer {
  text-align: center;
}

footer a {
  color: var(--custom-dark-gray);
  color: var(--custom-moderate-cyan);
}

footer a:hover,
footer a:active {
  text-decoration: underline;
}

/* Media queries */

@media screen and (min-width: 750px) {

  /* Hero desktop styles */

  body {
    grid-template-rows: 40rem 1fr;
  }

  #hero {
    background-image: url(./images/image-hero-desktop.jpg);
  }

  /* Header desktop styles */

  header {
    /* background-color: pink; */
    padding: 4.7rem 16.5rem;
    background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 10%,
    rgba(255, 255, 255, 0) 100%
  );
  }

  #top-nav {
    display: block;
    position: static;
    width: unset;
    transform: unset;
    max-width: unset;
    z-index: unset;
    border-radius: unset;
    background-color: unset;
  }

  #top-nav ul {
    display: flex;
    gap: 3.5rem;
    /* background-color: rgba(255, 217, 0, 0.341); */
  }

  .nav-li {
    font-size: 1.3rem;
    padding: 0rem 0rem;
    border-bottom: none;
    /* background-color: rgba(0, 128, 0, 0.418); */
  }

  .nav-link {
    color: var(--custom-light-gray);
  }

  .nav-link:hover,
  .nav-link:active {
    color: var(--custom-light-gray);
    box-shadow: 0rem .8rem 0rem -.7rem var(--custom-light-gray);
  }

  #mobile-menu-control {
    display: none;
  }


  /* Main desktop styles */

  #main-helper {
    top: -9.2rem;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 73rem;
  }

  /* Project intro section desktop styles */

  #project-intro {
    padding: 5.5rem 2rem 3.5rem 2rem;
  }

  #project-intro h1 {
    padding: 0 1rem;
    font-size: 2.8rem;
  }

  #project-intro p {
    padding-top: 1.3rem;
    font-size: 1.6rem;
  }

  .controls {
    /* background-color: pink; */
    padding: 3.5rem 2.5rem 1rem 2.5rem;
  }

  #back-project-btn {
    flex: unset;
    padding: 1.9rem 3.9rem;
  }

  #bookmark-btn {
    font-size: 1.5rem;
    border-radius: 3rem;
    background-position: left;
    padding: 1.9rem 2.5rem;
    min-width: 17.5rem;
    background-color: var(--custom-light-gray);
    color: var(--custom-dark-gray);
    text-align: right;
    border: 1px solid transparent;
  }

  /* Project stats section styles desktop */

#project-stats {
  padding: 3.6rem 3rem 4.9rem 3rem;
}

#project-stats ul {
  flex-direction: row;
  width: 100%;
  /* align-items: center; */
  gap: 3rem;
  /* padding-bottom: 1rem; */
  /* background-color: rgba(0, 128, 0, 0.377); */
  padding-bottom: 1.4rem; 
}

.stat-el {
  min-width: 19.5rem;
  align-items: flex-start;
  padding: 1rem 5rem 2.5rem 2rem;
  /* background-color: rgba(0, 0, 255, 0.114); */
  box-shadow: 1.1rem 0rem 0 -1rem #d8d8d8;

}

/* .stat-el:last-of-type {
  box-shadow: none;
} */

#progress-wrap {
  width: 95%;
}

/* About section desktop styles */

#project-about {
  gap: 3.5rem;
  padding: 4.7rem 4.8rem 3.5rem 4.8rem;
  /* align-items: flex-start; */
}

#project-about h2 {
  font-size: 2rem;
}

#project-about p {
  font-size: 1.6rem;
  line-height: 1.8;
}

.pledge-li {
  /* align-items: flex-start; */
  padding: 3.5rem 2.9rem 3.6rem 2.9rem;
  gap: 2.3rem;
}

.helper-top {
  width: 100%;
  /* background-color: teal; */
  /* display: flex; */
  flex-direction: row;
  justify-content: space-between;
  /* gap: 1rem; */
}

.helper-top span {
  font-size: 1.5rem;
}

.pledge-li h3 {
  font-size: 1.8rem;
}

/* .helper-bot {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: blue;
} */

.items-left-value {
  font-size: 3.3rem;
}

.items-left-label {
  font-size: 1.5rem;
}

.reward-wrap {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}




}
