@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

/* Global, reset & typography */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  cursor: pointer;
  font: inherit;
  transition: 0.3s;
  border: 1px solid lightgray;
}

ul,
ol {
  list-style: none;
}

:root {
  --main-font: "Karla", sans-serif;

  /* ## Colors */
  /* ### Primary */

/* --cs-green-200: hsl(148, 38%, 91%);
--cs-green-600: hsl(169, 82%, 27%);
--cs-red: hsl(0, 66%, 54%); */
--cs-green-200: 148, 38%, 91%;
--cs-green-600: 169, 82%, 27%;
--cs-red: 0, 66%, 54%;

/* ### Neutral */

/* --cs-white: hsl(0, 0%, 100%);
--cs-grey-500: hsl(186, 15%, 59%);
--cs-grey-900: hsl(187, 24%, 22%); */
--cs-white: 0, 0%, 100%;
--cs-grey-500: 186, 15%, 59%;
--cs-grey-900: 187, 24%, 22%;
}

html {
  font-family: var(--main-font);
  font-size: 10px;
}

body {
  position: relative;
  display: grid;
  min-height: 100svh;
  min-height: 100vh;
  background-color: hsla(var(--cs-green-200), 100%);
}

html,
body {
  /* overflow-x: hidden; */
  min-width: 30rem;
}

/* Utility classes */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* Mobile styles */
body {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.2rem 1.65rem;
}

#component-wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 42rem;
  border-radius: 1.65rem;
  padding: 2.2rem 2.3rem;
  background-color: hsla(var(--cs-white), 100);
}

#component-wrap h1 {
  font-size: 3.05rem;
}

.form-wrap {
  padding: 1.2rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
  background-color: rgba(0, 0, 255, 0.445);
  font-size: 1.6rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: pink;
}

.input-basic {
  padding: 1.5rem;
}

.radio-wrapper {
  background-color: rgba(0, 128, 0, 0.392);
}

.radio-wrapper fieldset {
  border: none;
}

.radios-query-wrap {
  display: flex;
  flex-direction: column;
}

.radio-helper {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}


footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 192, 203, 0.475);
}

footer a {
  color: hsla(var(--cs-green-600), 100);
  font-weight: 700;
}

footer a:hover, footer a:focus {
  opacity: 50%;
}

.error-msg {
  display: none;
}

.toasts-wrapper {
  display: none;
}

/* Media queries */