/* General styles, reset and typography */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* ### Primary */

  --custom-linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%); /*(active input border)*/

  --custom-red: hsl(0, 100%, 66%); /* (input errors) */

  /* ### Neutral */

  --custom-white: hsl(0, 0%, 100%);
  --custom-light-grayish-violet: hsl(270, 3%, 87%);
  --custom-dark-grayish-violet: hsl(279, 6%, 55%);
  --custom-very-dark-violet: hsl(278, 68%, 11%);
}

html {
  font-family: "Space Grotesk", sans-serif;
  font-size: 10px;
}

html,
body {
  min-height: 100vh;
}

body {
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

button {
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}

span {
  display: block;
}

/* Mobile styles */

body::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 24rem;
  background-image: url(./images/bg-main-mobile.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;
  /* flex: 1; */
  background-color: rgba(255, 217, 0, 0.251);
  z-index: 1;
}

/* .cards-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 128, 0, 0.41);
  width: 100%;
  padding: 1.2rem 1rem .5rem 1rem;
} */

.cards-container {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  background-color: rgba(0, 128, 0, 0.41);
  width: 100%;
  min-height: 27rem;
  padding: 1.2rem .5rem;
}

.card-back-wrapper,
.card-front-wrapper {
  width: 28.5rem;
  position: relative;
  grid-column: 1;
  grid-row: 1;  
}

.card-back-wrapper {
  transform: translate(2.7rem, -4.5rem);
  /* justify-self: end; */
  /* right: -1rem; */
}

.cvc-display {
  position: absolute;
  top: 45%;
  right: 13%;
}

.card-front-wrapper {
  position: relative;
  transform: translate(-2.7rem, 5rem);
  /* align-self: flex-end; */
  /* left: -1rem;
  bottom: -.5rem; */
}

.front-img-wrap {
  position: relative;
}

.card-logo-wrap {
  position: absolute;
  width: 5.2rem;
  top: 12%;
  left: 7%;
}

.card-data-helper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem 2rem;
  color: var(--custom-white);
  display: grid;
  gap: 1.5rem;
  grid-template-rows: 50% 50%;
  grid-template-columns: auto;
  grid-template-areas:
  "cardn cardn"
  "cardhold cardexp";
}

.cardnum-display {
  grid-area: cardn;
  justify-self: center;
  font-size: 1.8rem;
  letter-spacing: .2rem;
}

.cardholder-display {
  grid-area: cardhold;
  justify-self: start;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .05rem;
}

.expdate-display {
  display: flex;
  gap: .2rem;
  grid-area: cardexp;
  justify-self: end;
}

/* Form styles */

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem .5rem;
    background-color: rgba(255, 0, 0, 0.34);
}

.ccard-form {
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem;
  gap: 1.6rem;
  background-color: rgba(0, 0, 255, 0.14);
}

.ccard-form label {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: .1rem;
}
.ccard-form input {
  width: 100%;
}

.form-row {
  display: flex;
  flex-direction: column;
}

.form-row:last-of-type {
  flex-direction: row;
}

.form-helper {
  display: flex;
}

.helper-inner {
  display: flex;
}


.sub-btn {
  font-size: 1.7rem;
  color: var(--custom-white);
  background-color: var(--custom-very-dark-violet);
}


.confirm-info {
  display: none;
}

/* Footer styles */

footer {
  margin-top: auto;
}

/* Media queries */

@media screen and (min-width: 1000px) {
  body::before {
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background-image: url(./images/bg-main-desktop.png);
    z-index: 0;
  }
}
