/* General styles, reset and typography */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* ### Primary */

  /* linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);  */

  --custom-gradient: linear-gradient(90deg, rgba(99, 72, 254, 1) 0%, rgba(102, 0, 153, 1) 100%); /*(active input border)*/

  --custom-red: hsl(0, 100%, 66%); /* (input errors) */

  /* ### Neutral */

  --custom-white: hsl(0, 0%, 100%);
  --custom-light-grayish-violet: hsl(270, 3%, 87%);
  --custom-dark-grayish-violet: hsl(279, 6%, 55%);
  --custom-very-dark-violet: hsl(278, 68%, 11%);
}

html {
  font-family: "Space Grotesk", sans-serif;
  font-size: 10px;
}

html,
body {
  min-height: 100vh;
  min-width: 375px;
}

body {
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

button {
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}

span {
  display: block;
}

/* Mobile styles */

body::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 24rem;
  background-image: url(./images/bg-main-mobile.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;
  /* background-color: rgba(255, 217, 0, 0.251); */
  z-index: 1;
}

.cards-container {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  /* background-color: rgba(0, 128, 0, 0.41); */
  width: 100%;
  min-height: 27rem;
  padding: 1.2rem 0.5rem;
}

.card-back-wrapper,
.card-front-wrapper {
  width: 28.5rem;
  position: relative;
  grid-column: 1;
  grid-row: 1;
}

.card-back-wrapper {
  transform: translate(2.7rem, -4.5rem);
}

.cvc-display {
  color: var(--custom-white);
  position: absolute;
  top: 45%;
  right: 13%;
}

.card-front-wrapper {
  position: relative;
  transform: translate(-2.7rem, 5rem);
}

.front-img-wrap {
  position: relative;
}

.card-logo-wrap {
  position: absolute;
  width: 5.2rem;
  top: 12%;
  left: 7%;
}

.card-data-helper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem 2rem;
  color: var(--custom-white);
  display: grid;
  gap: 1.5rem;
  grid-template-rows: 50% 50%;
  grid-template-columns: auto;
  grid-template-areas:
    "cardn cardn"
    "cardhold cardexp";
}

.cardnum-display {
  grid-area: cardn;
  justify-self: center;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
}

.cardholder-display {
  grid-area: cardhold;
  justify-self: start;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.05rem;
}

.expdate-display {
  display: flex;
  gap: 0.2rem;
  grid-area: cardexp;
  justify-self: end;
}

/* Form styles */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  /* background-color: rgba(255, 0, 0, 0.34); */
  max-width: 35rem;
}

.ccard-form {
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem .5rem 0rem;
  gap: 2rem;
  /* background-color: rgba(0, 0, 255, 0.14); */
}

.ccard-form label {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  color: var(--custom-very-dark-violet);
  font-weight: 500;
}

/* Form input styles */


.forminput {
  font: inherit;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  padding: .9rem 1.5rem;
  border-radius: .5rem;
  margin-top: .8rem;
  border: 1px solid var(--custom-dark-grayish-violet);
  color: var(--custom-very-dark-violet);
  outline: none;
}

.forminput:focus {
  border: 1px solid var(--custom-very-dark-violet);
  /* border-image: var(--custom-gradient);   */
}


.errormsg {
  font-size: 1.1rem;
  color: var(--custom-red);
  padding: .5rem 0rem 0rem 0rem;
  display: none;
}

.invalid {
  border: 1px solid var(--custom-red)!important;
}

.active-err {
  display: block;
}


/* input:focus:is(:placeholder-shown):invalid {
  border-color: var(--custom-red);
} */

/* input:not(:focus):invalid {
  border-color: var(--custom-red);
} */

/* input:invalid {
  border-color: var(--custom-red);
} */

/* input:focus:is(:placeholder-shown):invalid ~ .errormsg {
  display: block; 
} */

/* input:not(:focus):invalid ~ .errormsg {
  display: block; 
} */

/* input:focus:invalid ~ .errormsg {
  display: block; 
} */


.form-row {
  display: flex;
  flex-direction: column;
}

.form-row:last-of-type {
  flex-direction: row;
  /* background-color: green; */
  gap: 1rem;
}

.form-row:last-of-type .helper-col:first-of-type {
flex: 1;  
}

.form-row:last-of-type .helper-col:nth-of-type(2) {
  flex: 1;
}

.helper-inner {
  display: flex;
  gap: .5rem;
  /* background-color: yellow; */
}

.sub-btn {
  font: inherit;
  font-size: 1.8rem;
  color: var(--custom-white);
  background-color: var(--custom-very-dark-violet);
  font-weight: 500;
  padding: 1.55rem 1.5rem;
  border-radius: .5rem;
  margin-top: 1rem;
}

.sub-btn:hover,
.sub-btn:focus {
  filter: brightness(140%);
}



/* Confirm view styles */

.confirm-info {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
}

.iconwrap {
  width: 8rem;
}

.confirm-info span:first-of-type {
  text-transform: uppercase;
  font-size: 3.3rem;
  padding-top: 2.3rem;
  color: var(--custom-very-dark-violet);
}

.confirm-info span:nth-of-type(2) {
  font-size: 1.8rem;
  color: var(--custom-dark-grayish-violet);
}

#btn-continue {
  width: 100%;
  font: inherit;
  font-size: 1.8rem;
  color: var(--custom-white);
  background-color: var(--custom-very-dark-violet);
  font-weight: 500;
  padding: 1.55rem 1.5rem;
  border-radius: .5rem;
  margin-top: 4rem;
}

#btn-continue:hover, #btn-continue:focus {
  filter: brightness(140%);
}


/* Footer styles */

footer {
  margin-top: auto;
}

/* Media queries */

@media screen and (min-width: 1000px) {

  body::before {
    width: 33.6%;
    height: 100%;
    background-image: url(./images/bg-main-desktop.png);
  }



  main {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 2rem 2rem 2rem 2rem;
    margin-top: auto;
  }

  .cards-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
    width: auto;
    min-height: auto;
    min-width: auto;
    gap: 3.5rem;
    padding: 4.5rem 18rem 3rem 2rem;
  }
  
  .card-back-wrapper,
  .card-front-wrapper {
    width: 45rem;
  }

  .card-back-wrapper {
    margin-left: 21%;
    transform: translate(0rem, 0rem);
  }

  .cvc-display {
    font-size: 1.5rem;
    letter-spacing: .1rem;
  }

  .card-front-wrapper {
    transform: translate(0rem, 0rem);
  }

  .card-logo-wrap {
    width: 8.5rem;
    top: 11%;
  }

  .card-data-helper {
    padding: 2rem 3.2rem 2.8rem 3.2rem;
    gap: 2.5rem;
  }
  
  .cardnum-display {
    justify-self: start;
    font-size: 2.6rem;
    letter-spacing: 0.5rem;
  }
  
  .cardholder-display {
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
  }
  
  .expdate-display {
    font-size: 1.5rem;
    letter-spacing: .1rem;
  }

  /* Form styles */

.form-container {
  padding: 11.5rem 5rem 1rem 2rem;
  max-width: 45rem;
  margin-right: 3.5rem;
}

.ccard-form {
  padding: 2rem 0rem .5rem 0rem;
  gap: 2.5rem;
}

.sub-btn {
  margin-top: 1.8rem;
}


.errormsg {
  font-size: 1.2rem;
}


.confirm-info {
  gap: 1rem;
  padding: 5rem 1rem 1rem 1rem;
  margin-right: 4.5rem;
  margin-left: 4.5rem;
}


}

@media screen and (min-width: 1000px) and (max-width: 1200px) {

  .cards-container {
    padding: 4.5rem 10rem 3rem 2rem;
  }

  .card-back-wrapper,
  .card-front-wrapper {
    width: 38rem;
  }

  .card-logo-wrap {
    width: 6rem;
  }

  .cardnum-display {
    font-size: 1.8rem;
  }

  .cardholder-display {
    font-size: 1.2rem;
  }

  .expdate-display {
    font-size: 1.2rem;
  }

  .form-container {
    padding: 11.5rem 2rem 1rem 2rem;
  }

}
