@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

/* Global, reset & typography */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

button,
input {
  cursor: pointer;
  font: inherit;
  transition: 0.3s;
}

button {
  background-color: white;
  border: 1px solid grey;
}

:root {
  --main-font: "Red Hat Text", sans-serif;

  /* Colors */
  --cs-red: 14, 86%, 42%;
  --cs-green: 159, 69%, 38%;

  --cs-rose-50: 20, 50%, 98%;
  --cs-rose-100: 13, 31%, 94%;
  --cs-rose-300: 14, 25%, 72%;
  --cs-rose-400: 7, 20%, 60%;
  --cs-rose-500: 12, 20%, 44%;
  --cs-rose-900: 14, 65%, 9%;

  /* --cs-red: hsl(14, 86%, 42%);
--cs-green: hsl(159, 69%, 38%);

--cs-rose-50: hsl(20, 50%, 98%);
--cs-rose-100: hsl(13, 31%, 94%);
--cs-rose-300: hsl(14, 25%, 72%);
--cs-rose-400: hsl(7, 20%, 60%);
--cs-rose-500: hsl(12, 20%, 44%);
--cs-rose-900: hsl(14, 65%, 9%); */
}

html {
  font-family: var(--main-font);
  font-size: 10px;
}

body {
  position: relative;
  display: grid;
  min-height: 100svh;
  min-height: 100vh;
  background-color: hsla(var(--cs-rose-50), 100%);
}

html,
body {
  /* overflow-x: hidden; */
  min-width: 30rem;
}

/* Utility classes */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* Mobile styles */

body {
  grid-template-rows: 1fr max-content;
  grid-template-columns: 1fr;
}

main {
  padding: 1rem;
}

#order-form {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  padding: 1rem 1.5rem;
  gap: 2.5rem;
}

#options-container h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

#menu-options-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.3rem;
  padding: 1rem 0rem;
}

.menu-option-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.option-helper {
  position: relative;
}

.illustration-wrap {
  overflow: hidden;
  border-radius: 1rem;
}

.illustration-wrap img {
  width: 100%;
}

.controls-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 50%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.btn-add {
  grid-column: 1/2;
  grid-row: 1/2;
  min-width: 16rem;
  font-size: 1.4rem;
  padding: 1.15rem 0rem 1.15rem 2.6rem;
  border-radius: 5rem;
  background-image: url(./assets/images/icon-add-to-cart.svg);
  background-repeat: no-repeat;
  background-position: center left 2.5rem;
  color: hsla(var(--cs-rose-900), 100%);
  font-weight: 500;
}

.btn-add:hover {
  border: 1px solid hsla(var(--cs-red), 100%);
  color: hsla(var(--cs-red), 100%);
}

.menu-option-wrapper[data-count='0'] .product-active-controls {
  display: none;
}

.menu-option-wrapper:not([data-count='0']) .btn-add {
  pointer-events: none;
}

.product-active-controls {
  display: flex;
  grid-row: 1/2;
  grid-column: 1/2;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1.6rem;
  background-color: hsla(var(--cs-red), 100%);
  border-radius: 5rem;
}



.btn-s {
  border: 1px solid white;
  background-color: hsla(var(--cs-red), 100%);
  width: 1.65rem;
  height: 1.65rem;
  border-radius: 50%;
  font-size: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.btn-s:hover {
  background-color: white;
}

.btn-plus {
  background-image: url(./assets//images/icon-increment-quantity.svg);
}

.btn-plus:hover {
  background-image: url(./assets/images/icon-increment-quantity-r.svg);
}

.btn-minus {
  background-image: url(./assets/images/icon-decrement-quantity.svg);
}

.btn-minus:hover {
  background-image: url(./assets/images/icon-decrement-quantity-r.svg);
}


.menu-desc {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.category {
  font-size: 1.35rem;
  color: hsla(var(--cs-rose-500), 100%);
}

.option-name {
  font-size: 1.6rem;
  font-weight: 500;
  color: hsla(var(--cs-rose-900), 100%);
}

.price {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsla(var(--cs-red), 100%);
}

#cart-view {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: white;
  border-radius: 1rem;
  padding: 2.5rem 2.5rem 2.5rem 2.5rem;
}

.cart-helper {
  color: hsla(var(--cs-red), 100%);
  font-size: 2.35rem;
  font-weight: 700;
}

.cart-contents-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  padding: 1rem 1rem 2rem 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: hsla(var(--cs-rose-500), 100%);
}

.hasItems .cart-contents-empty {
  display: none;
}

.cart-active {
  display: none;
}

.hasItems .cart-active {
  display: flex;
}


footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: hsla(var(--cs-rose-400), 100%);
  color: hsla(var(--cs-rose-900), 100%);
}

footer a {
  color: white;
  font-weight: 500;
}


/* Media queries */

/* Medium screens */

@media screen and (min-width: 600px) {
  #menu-options-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

/* Large screens */

@media screen and (min-width: 1000px) {
  #menu-options-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
