@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

/* Global, reset & typography */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

button,
input {
  cursor: pointer;
  font: inherit;
  transition: 0.3s;
}

button {
  background-color: white;
  border: 1px solid grey;
}

:root {
  --main-font: "Red Hat Text", sans-serif;

  /* Colors */
  --cs-red: 14, 86%, 42%;
  --cs-green: 159, 69%, 38%;

  --cs-rose-50: 20, 50%, 98%;
  --cs-rose-100: 13, 31%, 94%;
  --cs-rose-300: 14, 25%, 72%;
  --cs-rose-400: 7, 20%, 60%;
  --cs-rose-500: 12, 20%, 44%;
  --cs-rose-900: 14, 65%, 9%;
}

html {
  font-family: var(--main-font);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: grid;
  min-height: 100svh;
  min-height: 100vh;
  background-color: hsla(var(--cs-rose-50), 100%);
}

html,
body {
  /* overflow-x: hidden; */
  min-width: 30rem;
}

/* Utility classes */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.btn-hl {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.55rem;
  color: white;
  background-color: hsla(var(--cs-red), 100%);
  border: none;
  border-radius: 5rem;
}

.btn-hl:hover {
  filter: brightness(80%);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid hsla(var(--cs-rose-400), 100%);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-bottom: 2rem;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Mobile styles */

body {
  grid-template-rows: 1fr max-content;
  grid-template-columns: 1fr;
}

main {
  padding: 1rem;
}

#order-form {
  display: grid;
  justify-items: center;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  padding: 1rem 1.5rem;
  gap: 2.5rem;
}

#options-container h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

#menu-options-wrapper {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 2.2rem;
  padding: 1rem 0rem;
}

.menu-option-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 35rem;
}

.option-placeholder-wrap {
  justify-self: center;
  font-size: 1.6rem;
  text-align: center;
  color: hsla(var(--cs-rose-900), 100%);
}

.option-helper {
  position: relative;
}

.illustration-wrap {
  overflow: hidden;
  border-radius: 1rem;
  border: 2px solid transparent;
}

.el-in-cart .illustration-wrap {
  border: 2px solid hsla(var(--cs-red), 100%);
}

.illustration-wrap img {
  width: 100%;
}

.controls-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 50%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.btn-add {
  grid-column: 1/2;
  grid-row: 1/2;
  min-width: 16rem;
  font-size: 1.4rem;
  padding: 1.15rem 0rem 1.15rem 2.6rem;
  border-radius: 5rem;
  background-image: url(./assets/images/icon-add-to-cart.svg);
  background-repeat: no-repeat;
  background-position: center left 2.5rem;
  color: hsla(var(--cs-rose-900), 100%);
  font-weight: 500;
}

.btn-add:hover {
  border: 1px solid hsla(var(--cs-red), 100%);
  color: hsla(var(--cs-red), 100%);
}

.menu-option-wrapper[data-count="0"] .product-active-controls {
  display: none;
}

.menu-option-wrapper:not([data-count="0"]) .btn-add {
  pointer-events: none;
}

.product-active-controls {
  display: flex;
  grid-row: 1/2;
  grid-column: 1/2;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1.6rem;
  background-color: hsla(var(--cs-red), 100%);
  border-radius: 5rem;
}

.current-product-amount {
  color: white;
  font-size: 1.4rem;
}

.btn-s {
  border: 1px solid white;
  background-color: hsla(var(--cs-red), 100%);
  width: 1.65rem;
  height: 1.65rem;
  border-radius: 50%;
  font-size: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.btn-s:hover {
  background-color: white;
}

.btn-plus {
  background-image: url(./assets//images/icon-increment-quantity.svg);
}

.btn-plus:hover {
  background-image: url(./assets/images/icon-increment-quantity-r.svg);
}

.btn-minus {
  background-image: url(./assets/images/icon-decrement-quantity.svg);
}

.btn-minus:hover {
  background-image: url(./assets/images/icon-decrement-quantity-r.svg);
}

.menu-desc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.category {
  font-size: 1.35rem;
  color: hsla(var(--cs-rose-500), 100%);
}

.option-name {
  font-size: 1.6rem;
  font-weight: 500;
  color: hsla(var(--cs-rose-900), 100%);
}

.price {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsla(var(--cs-red), 100%);
}

#cart-view {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  border-radius: 1rem;
  padding: 2rem 2.5rem 2.5rem 2.5rem;
  width: 100%;
  max-width: 40rem;
}

.cart-helper {
  color: hsla(var(--cs-red), 100%);
  font-size: 2.35rem;
  font-weight: 700;
}

.cart-contents-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  padding: 2rem 1rem 2rem 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: hsla(var(--cs-rose-500), 100%);
}

.hasItems .cart-contents-empty {
  display: none;
}

.cart-active {
  display: none;
  flex-direction: column;
  gap: 1rem;
}

.hasItems .cart-active {
  display: flex;
}

#active-cart-display {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.cart-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid hsla(var(--cs-rose-100), 100%);
  padding: 0.5rem 0rem 1.5rem 0rem;
}

.cart-option:last-of-type {
  border-bottom: none;
}

.cart-option-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-el-name {
  color: hsla(var(--cs-rose-900), 100%);
  font-weight: 700;
  font-size: 1.3rem;
}

.det-helper {
  display: flex;
  align-items: center;
  gap: 1.15rem;
  font-size: 1.4rem;
  color: hsla(var(--cs-rose-500), 100%);
}

.el-amount {
  color: hsla(var(--cs-red), 100%);
  font-weight: 700;
}

.el-total-price {
  font-weight: 700;
}

.btn-cart {
  font-size: 0;
  width: 1.8rem;
  height: 1.8rem;
  border: 1px solid hsla(var(--cs-rose-400), 100%);
  border-radius: 50%;
  background-image: url(./assets/images/icon-remove-item.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.total-info-wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-top: 1px solid hsla(var(--cs-rose-100), 100%);
}

.total-helper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 0rem 0.5rem 0rem;
  font-size: 1.35rem;
}

.total-desc {
  font-weight: 500;
  color: hsla(var(--cs-rose-500), 100%);
}

#total-price {
  color: hsla(var(--cs-rose-900), 100%);
  font-size: 2.4rem;
  font-weight: 900;
}

.carbon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  border-radius: 1rem;
  color: hsla(var(--cs-rose-900), 100%);
  background-color: hsla(var(--cs-rose-100), 100%);
  padding: 1.5rem 1rem;
  font-size: 1.45rem;
}

.carbon-img-wrap {
  max-width: 3rem;
}

.carbon-box span {
  font-weight: 500;
}

#btn-c-order {
  margin-top: 1.5rem;
}

/* Dialog styles */
dialog {
  border: none !important;
  margin: 0 auto;
  margin-top: auto;
  min-width: 100%;
  border-radius: 1rem 1rem 0rem 0rem;
}

dialog::backdrop {
  background-color: hsla(0, 0%, 0%, 60%);
}

#dialog-display-wrapper {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3.5rem 2.2rem 2.2rem 2.2rem;
  color: hsla(var(--cs-rose-900), 100%);
}

.dialog-desc {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.6rem;
  color: hsla(var(--cs-rose-900), 100%);
}

.d-img-wrapper {
  max-width: 5rem;
}

.dialog-desc h2 {
  margin-top: 1rem;
  font-size: 4rem;
  line-height: 1.1;
}

#confirmed-items-wrap {
  background-color: hsla(var(--cs-rose-50), 100%);
  border-radius: 1rem;
  padding: 1rem 2.5rem;
}

#confirm-items-list {
  display: flex;
  flex-direction: column;
}

.dialog-option {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem 0rem;
  border-bottom: 1px solid hsla(var(--cs-rose-100), 100%);
}

.thumbnail-wrap {
  overflow: hidden;
  border-radius: 0.5rem;
  max-width: 5rem;
}

.d-op-details {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsla(var(--cs-rose-900), 100%);
}

.c-det-helper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.55rem;
}

.d-op-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 15rem;
  font-weight: 600;
  font-size: 1.4rem;
}

.d-helper {
  display: flex;
  gap: 1.4rem;
}

.d-count {
  font-size: 1.4rem;
  font-weight: 700;
  color: hsla(var(--cs-red), 100%);
}

.d-bprice {
  color: hsla(var(--cs-rose-500), 100%);
  font-size: 1.4rem;
}

.d-op-price {
  font-weight: 500;
  font-size: 1.65rem;
}

.total-info-helper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.45rem;
  padding: 3rem 0rem 2rem 0rem;
}

#confirm-total-price {
  color: hsla(var(--cs-rose-900), 100%);
  font-size: 2.4rem;
  font-weight: 900;
}

#dialog-form {
  min-width: 100%;
  align-self: center;
}


footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: hsla(var(--cs-rose-400), 100%);
  color: hsla(var(--cs-rose-900), 100%);
}

footer a {
  color: white;
  font-weight: 500;
}

/* Media queries */

/* Medium screens */

@media screen and (min-width: 600px) {

  #order-form {
    align-items: start;
    justify-items: stretch;
    gap: 2.5rem;
  }

  #menu-options-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1rem;
    row-gap: 3rem;
  }

  .menu-option-wrapper {
    max-width: 25rem;
  }

  #cart-view {
    justify-self: center;
    max-width: 60rem;
  }

  dialog {
    min-width: 59rem;
    margin: auto;
    border-radius: 1rem;
  }

  #dialog-display-wrapper {
    padding: 4rem;
    gap: 2rem;
  }

  .d-op-name {
    max-width: unset;
  }

}


/* Large screens */

@media screen and (min-width: 945px) {

  main {
    padding: 1rem;
  }

  #order-form {
    grid-template-columns: 1fr max-content;
    padding: 1.5rem 1rem;
  }

  #menu-options-wrapper {
    grid-template-columns: repeat(3, minmax(19rem, 1fr));
  }

  #cart-view {
    margin-top: 1rem;
    min-width: 28rem;
  }

}


@media screen and (min-width: 1350px) {
  main {
    padding: 7rem 7rem 4rem 7rem;
  }

  #order-form {
    padding: 1.5rem 4rem;
  }

  #cart-view {
    min-width: 38.5rem;
  }
}
