/* General, typography and reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ### Primary */

  --custom-gradient: linear-gradient(
    90deg,
    rgba(101, 226, 217, 1) 0%,
    rgba(51, 158, 204, 1) 100%
  );

  --custom-dark-blue-a: hsl(
    217,
    28%,
    15%
  ); /*(intro and email sign up background)*/
  --custom-dark-blue-b: hsl(218, 28%, 13%); /* (main background)*/
  --custom-dark-blue-c: hsl(216, 53%, 9%); /* (footer background)*/
  --custom-dark-blue-d: hsl(219, 30%, 18%); /*(testimonials background)*/

  /* ### Accent */

  --custom-cyan: #65e2d9; /*(inside call-to-action gradient)*/
  --custom-blue: #339ecc; /* (inside call-to-action gradient)*/
  --custom-light-red: hsl(0, 100%, 63%); /* (error)*/

  /* ### Neutral */

  --custom-white: hsl(0, 0%, 100%);
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}

span {
  display: block;
}

ul,
ol {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

button {
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid transparent;
}

html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  min-height: 100vh;
}

body {
  /* position: relative; */
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--custom-dark-blue-b);
}

/* Main styles */

/* Header styles */

header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 4rem;
  background-color: var(--custom-dark-blue-a);
  height: 14.5rem;
}

.logo-wrap {
  max-width: 16rem;
}

.header-nav ul {
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  gap: 5rem;
}

.header-link {
  font-family: "Raleway", sans-serif;
  font-size: 2.4rem;
  color: var(--custom-white);
}

.header-link:hover,
.header-link:focus-visible {
  text-decoration: underline;
}

/* Hero section styles */

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  padding: 4.9rem 0rem 0rem 0rem;
  background-color: var(--custom-dark-blue-a);
}

.hero-content-wrapper::before {
  position: absolute;
  top: -14rem;
  left: 0;
  content: "";
  background-color: var(--custom-dark-blue-a);
  width: 100%;
  height: 30rem;
  background-image: url(./images/bg-curvy-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  z-index: 0;
}

.hero-img-wrapper {
  width: 81%;
  z-index: 2;
}

.hero-content-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  color: var(--custom-white);
  padding: 1.5rem 3rem 7rem 3rem;
  gap: 2rem;
  background-color: var(--custom-dark-blue-b);
}

.hero-content-wrapper h1 {
  font-size: 4.8rem;
  line-height: 7.2rem;
  z-index: 2;
}

.hero-content-wrapper p {
  font-size: 2.8rem;
  line-height: 4.2rem;
  max-width: 60rem;
  padding: 1rem 0rem 4.5rem 0rem;
}

#hero-btn {
  font: inherit;
  font-size: 2.8rem;
  padding: 2.8rem 5rem;
  width: 70%;
  border-radius: 5rem;
  background-color: var(--custom-cyan);
  background-image: var(--custom-gradient);
  color: var(--custom-white);
}

#hero-btn:hover,
#hero-btn:focus-visible {
  filter: brightness(120%);
}

/* Features section styles */

.features-section {
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(4, 25%);
  gap: 4rem;
  padding: 11rem 1rem;
  background-color: gold;
}

.feature-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  color: var(--custom-white);
  background-color: green;
  padding: 9rem 3rem 6.5rem 3rem;
  max-width: 70rem;
  min-height: 40rem;
}

.feature-icon-wrapper {
  width: 12.5rem;
}

.feature-tile:nth-of-type(2) .feature-icon-wrapper {
  width: 11rem;
}

.feature-tile h3 {
  padding-top: 5rem;
  font-size: 3.6rem;
}

.feature-tile p {
  font-size: 2.8rem;
  line-height: 4.2rem;
}

/* Details section styles */

.details-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: space-between;
  padding: 14.5rem 2rem;
  gap: 8rem;
  color: var(--custom-white);
}

.details-img-wrapper {
  width: 86%;
}

.details-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4.3rem;
  padding: 1.5rem 3rem 2rem 3.5rem;
}

.details-content-wrapper h2 {
  font-size: 3.6rem;
  padding-left: 0.7rem;
}

.details-content-wrapper p {
  font-size: 2.8rem;
}

.details-content-wrapper a {
  color: var(--custom-cyan);
  font-size: 2.4rem;
}

#det-btn {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 40rem;
  width: 41%;
  font-size: 2.4rem;
  border-bottom: 2px solid var(--custom-cyan);
  background-color: transparent;
  color: var(--custom-cyan);
  padding: 0rem 0 0.7rem 0;
}

#det-btn:hover {
  filter: invert(10%) hue-rotate(90deg) brightness(150%);
}

#det-btn img {
  width: 3rem;
}

/* Team quotes section styles */

.team-quotes-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 7rem;
  padding: 19rem 2rem 68rem 2rem;
  color: var(--custom-white);
}

.quote-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--custom-dark-blue-d);
  box-shadow: 0px 0px 1.5rem 0.5rem var(--custom-dark-blue-a);
  padding: 4rem 4rem;
  width: 79%;
  border-radius: 1rem;
  gap: 3rem;
}

.quote-tile:first-of-type {
  position: relative;
}

.quote-tile:first-of-type::before {
  position: absolute;
  display: block;
  content: "";
  top: -3.2rem;
  left: 1rem;
  width: 4.2rem;
  height: 3.2rem;
  background-image: url(./images/bg-quotes.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.quote-tile p {
  font-size: 2rem;
  line-height: 3.5rem;
}

.person-wrap {
  width: 60%;
  display: flex;
  /* background-color: rgba(255, 217, 0, 0.456); */
  gap: 1.2rem;
}

.person-avatar-wrapper {
  width: 5rem;
  border-radius: 50%;
  overflow: hidden;
}

.person-helper {
  display: flex;
  flex-direction: column;
}

.person-name {
  font-size: 2.2rem;
  font-weight: bold;
}

.person-info {
  font-size: 1.6rem;
}

/* Contact box styles */

.contact-box {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4rem;
  width: 90%;
  min-height: 71rem;
  padding: 8rem 5rem;
  border-radius: 2rem;
  background-color: var(--custom-dark-blue-a);
  box-shadow: 0px 0px 1.5rem 0.5rem var(--custom-dark-blue-c);
  color: var(--custom-white);
}

.contact-box h4 {
  font-size: 3.6rem;
}

.contact-box p {
  font-size: 2.8rem;
  line-height: 4.2rem;
}

.form-wrap {
  padding: 2rem 1rem 1rem 1rem;
  background-color: rgba(255, 217, 0, 0.368);
  width: 100%;
}

.form-wrap form {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.form-wrap label {
  display: none;
}

.error-msg {
  padding-left: 5.5rem;
  padding-top: 1.5rem;
  font-size: 1.4rem;
  color: var(--custom-light-red);
  text-align: left;
  /* display: block; */
  display: none;
}

.input-helper input,
#contact-btn {
  width: 100%;
  border-radius: 6rem;
}

.input-helper input {
  padding: 3.5rem 2rem;
  padding-left: 5.5rem;
  font-size: 2rem;
  border: 1px solid transparent;
}

.input-helper input::placeholder {
  font-size: 2.1rem;
}

.input-helper input:focus {
  outline: none;
}

#contact-btn {
  padding: 2.8rem 2rem;
  font-size: 3rem;
  background-image: var(--custom-gradient);
  color: var(--custom-white);
}

#contact-btn:hover,
#contact-btn:focus-visible {
  filter: brightness(120%);
}

/* Footer styles */

footer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 47rem 1rem 2rem 1rem;
  gap: 9rem;
  background-color: var(--custom-dark-blue-c);
  color: var(--custom-white);
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 2.7rem 3rem 2.7rem 3rem;
  background-color: rgba(255, 217, 0, 0.323);
}

.foot-logo-wrapper {
  margin-left: 4rem;
  max-width: 35rem;
}

.contact-information {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: rgba(255, 0, 0, 0.258);
  list-style: none;
  padding: 2rem 2rem 2rem 2rem;
}

.contact-info {
  background-color: green;
  font-size: 2.9rem;
}

.contact-information li {
  display: flex;
  gap: 5rem;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-information li::before {
  /* background-color: white; */
  width: 3rem;
  height: 2.8rem;
  content: "";
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  align-self: flex-start;
}

#location .contact-info {
  line-height: 4.7rem;
  font-size: 3.2rem;
}

#location::before {
  background-image: url(./images/icon-location.svg);
  height: 5.5rem;
  width: 7rem;
}

#phone::before {
  background-image: url(./images/icon-phone.svg);
}

#mail::before {
  background-image: url(./images/icon-email.svg);
}

#attribution:before {
  background-image: url(./images/otter-solid.svg);
}

.contact-information li:last-of-type {
  display: none;
}

/* Footer menu */

.footer-menu-wrapper {
  background-color: rgba(102, 51, 153, 0.714);
  padding: 3rem 3.5rem 3rem 3.5rem;
}

.footer-menu-wrapper ul {
  background-color: gold;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
    "menu1"
    "menu1"
    "menu1"
    "menu1"
    "gridgap"
    "menu2a"
    "menu2b"
    "menu2c";
  gap: 3.1rem;
}

.footer-menu-element:nth-of-type(5) {
  grid-area: menu2a;
}

.footer-menu-element:nth-of-type(6) {
  grid-area: menu2b;
}

.footer-menu-element:nth-of-type(7) {
  grid-area: menu2c;
}

.footer-menu-element {
  width: fit-content;
  padding: 0 1rem;
  background-color: green;
}

.footer-link {
  font-size: 3.2rem;
  color: var(--custom-white);
}

.footer-social-menu-wrapper {
  background-color: orange;
  width: 35%;
  max-width: 40rem;
  align-self: center;
  padding: 3.7rem 0rem;
}

.social-menu {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.social-menu a {
  border-radius: 50%;
  border: 1px solid white;
  padding: .7rem .9rem;
  display: block;
  color: var(--custom-white);
  font-size: 2.8rem;
}

.social-menu a:hover {
  color: var(--custom-cyan);
  border-color: var(--custom-cyan);
}


/* Media queries */
