/* General, typography & reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

span {
  display: block;
}

ul,
ol {
  list-style: none;
}

:root {
  /* ### Primary */

  --custom-soft-red: hsl(10, 79%, 65%);
  --custom-cyan: hsl(186, 34%, 60%);

  /* ### Neutral */

  --custom-dark-brown: hsl(25, 47%, 15%);
  --custom-medium-brown: hsl(28, 10%, 53%);
  --custom-cream: hsl(27, 66%, 92%);
  --custom-very-pale-orange: hsl(33, 100%, 98%);
}

html {
  font-family: "DM Sans", sans-serif;
  font-size: 10px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--custom-cream);
}

/* Mobile styles */

#component-wrapper {
  width: 90%;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  margin-top: 6.8rem;
  /* margin-top: auto;
  margin-bottom: auto; */
  overflow: hidden;
  /* background-color: rgba(0, 128, 128, 0.203); */
}

#balance-box,
#graph-box {
  width: 100%;
  display: flex;
  border-radius: 1rem;
}

#balance-box {
  padding: 2rem;
  justify-content: space-between;
  background-color: var(--custom-soft-red);
  color: var(--custom-cream);
}

.top-helper #label {
  font-size: 1.5rem;
  color: var(--custom-cream);
  padding-bottom: 0.5rem;
}

.top-helper #balance-value {
  font-size: 2.4rem;
  font-weight: bold;
  color: white;
}

.logo-wrapper {
  max-width: 6rem;
}

#graph-box {
  padding: 2.5rem 1.7rem 0rem 1.7rem;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--custom-very-pale-orange);
}

#graph-label {
  color: var(--custom-dark-brown);
  font-weight: bold;
  font-size: 2.4rem;
}

#graph-wrapper {
  display: grid;
  background-color: rgba(255, 192, 203, 0.414);
  text-align: center;
  min-height: 21rem;
}

#graph {
  background-color: rgba(0, 128, 128, 0.171);
  display: grid;
  gap: 0 1rem;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  align-items: end;
}

.bar-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  position: relative;
  background-color: pink;
}

.bar-value {
  background-color: var(--custom-dark-brown);
  color: var(--custom-cream);
  font-weight: bold;
  position: absolute;
  width: 120%;
  top: -3rem;
  left: 50%;
  transform: translate(-50%, 0);
  padding: .5rem 0rem;
  border-radius: .4rem;
}

.bar {
  background-color: var(--custom-soft-red);
  min-height: .5rem;
  max-height: 18rem;
  width: 100%;
  border-radius: .4rem;
}

.bar-label {
  color: var(--custom-dark-brown);
  opacity: 70%;
  font-size: 1.2rem;
}


#bottom-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  /* background-color: rgba(255, 192, 203, 0.266); */
  padding: 2.5rem 0rem 2.5rem 0rem;
  color: var(--custom-dark-brown);
  border-top: 2px solid var(--custom-cream);
}

#bot-label {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

#bot-label,
#difference-label {
  opacity: 70%;
}

#total-value {
  font-size: 3rem;
  font-weight: bold;
}

.bot-helper:nth-of-type(2) {
  text-align: right;
  /* background-color: teal; */
}

#value-difference {
  font-weight: bold;
  font-size: 1.5rem;
}

#difference-label {
  font-size: 1.5rem;
}

.attribution {
  margin-top: auto;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  background-color: var(--custom-soft-red);
  color: var(--custom-cream);
  font-size: 1rem;
}

.attribution a {
  color: var(--custom-dark-brown);
  font-weight: bold;
}

.attribution a:hover,
.attribution a:focus-visible {
  color: var(--custom-cyan);
}

/* Media queries */
