/* General, reset and typography */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

ul,
li {
  list-style: none;
}

span {
  display: block;
}

button {
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid transparent;
}

:root {
  /* ### Primary */

  /* --custom-gradient: #a3a8f0 to #696fdd; */
  --custom-gradient: linear-gradient(
    90deg,
    rgba(163, 168, 240, 1) 0%,
    rgba(105, 111, 221, 1) 100%
  );

  /* ### Neutral */

  --custom-very-light-grayish-blue: hsl(240, 78%, 98%);
  --custom-light-grayish-blue: hsl(234, 14%, 74%);
  --custom-grayish-blue: hsl(233, 13%, 49%);
  --custom-dark-grayish-blue: hsl(232, 13%, 33%);
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

html,
body {
  min-width: 250px;
  min-height: 100vh;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--custom-very-light-grayish-blue);
}

body::before,
body::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}

body::before {
  top: 0;
  right: 0rem;
  height: 70rem;
  width: 22rem;
  background-image: url(./images/bg-top.svg);
  background-position: top -4.5rem right -21rem;
}

body::after {
  display: none;
}

/* Mobile styles */

body {
  padding: 5rem 1rem 1rem 1rem;
  gap: 2rem;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 1.5rem 1rem;
  /* background-color: rgba(0, 128, 128, 0.251); */
}

h1 {
  font-size: 3.2rem;
  color: var(--custom-grayish-blue);
}

.toggle-wrapper {
  position: relative;
  /* background-color: rgba(255, 0, 0, 0.14); */
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding: 1rem 1rem 1rem 1rem;
}

.pricing-option {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--custom-light-grayish-blue);
}

.switch {
  position: relative;
  display: block;
  width: 5.5rem;
  height: 3.2rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--custom-gradient);
  transition: 0.3s;
}

.slider:hover {
  filter: opacity(60%);
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.4rem;
  width: 2.4rem;
  left: 0.4rem;
  bottom: 0.4rem;
  background-color: white;
  transition: 0.3s;
}

input:checked + .slider {
  background-image: var(--custom-gradient);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(2.2rem);
  -ms-transform: translateX(2.2rem);
  transform: translateX(2.2rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 3.5rem;
}

.slider.round:before {
  border-radius: 50%;
}

/* Mobile main styles */

main {
  width: 100%;
  /* background-color: rgba(255, 217, 0, 0.263); */
  padding: 2.2rem 0.5rem 1rem 0.5rem;
}

.pricing-tiles-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
  padding: 1.2rem 1rem 1rem 1rem;
  /* background-color: rgba(0, 128, 0, 0.323); */
}

.pricing-tile-wrap {
  width: 100%;
  min-width: 29rem;
  max-width: 45.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3.5rem 2rem 2rem 2rem;
  gap: 2rem;
  background-color: white;
  /* background-color: rgba(0, 0, 255, 0.201); */
  border-radius: 1rem;
  color: var(--custom-dark-grayish-blue);
  box-shadow: 0px 20px 35px -10px hsla(234, 14%, 74%, 80%);
}

.pricing-tile-wrap:nth-of-type(2) {
  color: white;
  background-image: linear-gradient(
    180deg,
    rgba(163, 168, 240, 1) 0%,
    rgba(105, 111, 221, 1) 100%
  );
}

.tile-top-helper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.7rem;
  /* background-color: gold; */
  padding: 0 1rem;
}

.plan-name {
  font-size: 1.8rem;
  font-weight: bold;
}

.price-helper {
  display: flex;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
  gap: 0.4rem;
}

.price {
  font-size: 7rem;
}

.tile-mid-helper {
  /* background-color: rgba(0, 128, 0, 0.371); */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.7rem;
  text-align: center;
}

.tile-features {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tile-features li {
  padding: 1.6rem 1rem;
  border-bottom: 1px solid var(--custom-light-grayish-blue);
}

.tile-features li:first-of-type {
  border-top: 1px solid var(--custom-light-grayish-blue);
}

.plan-feature {
  color: var(--custom-dark-grayish-blue);
  font-size: 1.5rem;
  font-weight: bold;
}

.pricing-tile-wrap:nth-of-type(2) .plan-feature {
  color: white;
}

/* Tile button styles */

.tile-bottom-helper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 1rem 1rem 1rem;
  width: 29rem;
  /* background-color: rgba(255, 217, 0, 0.351); */
}

.tile-details-btn {
  color: white;
  text-transform: uppercase;
  font: inherit;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  background: var(--custom-gradient);
  background-repeat: no-repeat;
  background-color: rgba(163, 168, 240, 1);
  padding: 1.3rem 2rem;
  border-radius: 0.7rem;
  width: 100%;
}

.tile-details-btn:hover {
  background-image: none;
  background-color: white;
  color: #7b7fe3;
  border-color: #7b7fe3;
}

.pricing-tile-wrap:nth-of-type(2) .tile-details-btn {
  color: #7b7fe3;
  background-color: white;
  background-image: none;
}

.pricing-tile-wrap:nth-of-type(2) .tile-details-btn:hover {
  color: white;
  background-color: transparent;
  border-color: white;
}

/* Footer styles */

footer {
  width: 100%;
  text-align: center;
  margin-top: auto;
}

/* Media queries */

@media screen and (min-width: 1000px) {
  body {
    padding: 2rem 1rem 1rem 1rem;
    gap: 1rem;
  }

  body::before {
    width: 40rem;
    background-position: top 0 right -2rem;
  }

  body::after {
    display: block;
    bottom: 0;
    left: 0;
    width: 37rem;
    height: 30rem;
    background-image: url(./images/bg-bottom.svg);
  }

  header {
    padding: 5rem 1rem 1rem 1rem;
  }

  .pricing-tiles-wrapper {
    flex-direction: row;
    justify-content: center;
    gap: 0rem;
  }

  .pricing-tile-wrap {
    max-width: 35rem;
    min-height: 45rem;
  }

  .pricing-tile-wrap:nth-of-type(2) {
    justify-content: center;
    padding: 3.5rem 2rem 2rem 2rem;
    gap: 2rem;
    min-height: 50rem;
  }
}
