@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* Global, reset & typography */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  cursor: pointer;
  font: inherit;
  transition: 0.3s;
  /* border: 1px solid lightgray; */
}

fieldset {
  border: none;
}

:root {
  --main-font: "Plus Jakarta Sans", sans-serif;

  /* ### Primary */

  /* --cs-lime: hsl(61, 70%, 52%);
--cs-red: hsl(4, 69%, 50%); */

  --cs-lime: 61, 70%, 52%;
  --cs-red: 4, 69%, 50%;

  /* ### Neutral */

  --cs-white: 0, 0%, 100%;
  --cs-slate-100: 202, 86%, 94%;
  --cs-slate-300: 203, 41%, 72%;
  --cs-slate-500: 200, 26%, 54%;
  --cs-slate-700: 200, 24%, 40%;
  --cs-slate-900: 202, 55%, 16%;

  /* --cs-white: hsl(0, 0%, 100%);
--cs-slate-100: hsl(202, 86%, 94%);
--cs-slate-300: hsl(203, 41%, 72%);
--cs-slate-500: hsl(200, 26%, 54%);
--cs-slate-700: hsl(200, 24%, 40%);
--cs-slate-900: hsl(202, 55%, 16%); */
}

html {
  font-family: var(--main-font);
  font-size: 10px;
}

body {
  position: relative;
  display: grid;
  min-height: 100svh;
  min-height: 100vh;
  background-color: hsla(var(--cs-slate-100), 100);
}

html,
body {
  /* overflow-x: hidden; */
  min-width: 30rem;
}

/* Utility classes */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* Mobile styles */

body {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content;
}

#component-wrapper {
  display: flex;
  flex-direction: column;
}

#calculator-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(0, 128, 0, 0.364);
}

#results-wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 0, 128, 0.296);
}

footer {
  display: grid;
  place-content: center;
  padding: 0.5rem;
  background-color: rgba(255, 192, 203, 0.211);
}

/* Error styles */
.error-msg {
  display: none;
  color: hsla(var(--cs-red), 100);
}

/* Media queries */

/* Tablet styles */

/* Desktop styles */
