@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* Global, reset & typography */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  cursor: pointer;
  font: inherit;
  transition: 0.3s;
}

button {
  background-color: transparent;
  border: none;
}

fieldset {
  border: none;
}

:root {
  --main-font: "Plus Jakarta Sans", sans-serif;

  /* ### Primary */

  --cs-lime: 61, 70%, 52%;
  --cs-red: 4, 69%, 50%;

  /* ### Neutral */

  --cs-white: 0, 0%, 100%;
  --cs-slate-100: 202, 86%, 94%;
  --cs-slate-300: 203, 41%, 72%;
  --cs-slate-500: 200, 26%, 54%;
  --cs-slate-700: 200, 24%, 40%;
  --cs-slate-900: 202, 55%, 16%;
}

html {
  font-family: var(--main-font);
  font-size: 10px;
}

body {
  position: relative;
  display: grid;
  min-height: 100svh;
  min-height: 100vh;
  background-color: hsla(var(--cs-slate-100), 100%);
}

html,
body {
  /* overflow-x: hidden; */
  min-width: 30rem;
}

/* Utility classes */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* Mobile styles */

body {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content;
}

#component-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(var(--cs-white), 100%);
}

#component-wrapper > * {
  flex: 1;
  padding: 3.2rem 2.35rem;
}

#calculator-form {
  display: flex;
  flex-direction: column;
  max-width: 47rem;
}

.form-head-helper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 2.7rem;
}

.form-head-helper h1 {
  font-size: 2.4rem;
  color: hsla(var(--cs-slate-900), 100%);
}

.btn-reset {
  color: hsla(var(--cs-slate-500), 100%);
  font-size: 1.6rem;
  text-decoration: underline;
  font-weight: 700;
}

.btn-reset:hover {
  color: hsla(var(--cs-slate-700), 100%);
}

.input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 2.6rem;
}

.input-wrapper label {
  font-size: 1.6rem;
  color: hsla(var(--cs-slate-700), 100%);
}

.input-inner-helper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  z-index: 10;
}

.basic-input {
  font-size: 1.8rem;
  font-weight: 700;
  color: hsla(var(--cs-slate-900), 100%);
  grid-row: 1/2;
  grid-column: 1/2;
  border: 1px solid hsla(var(--cs-slate-500), 100%);
  border-radius: 0.5rem;
  width: 100%;
  padding: 1.2rem;
  transition: 0.3s;
}

.basic-input:hover {
  border: 1px solid hsla(var(--cs-slate-900), 100%);
}

.basic-input:focus {
  outline: none;
  border: 1px solid hsla(var(--cs-lime), 100%);
}

.basic-input:focus + .helper-label {
  background-color: hsla(var(--cs-lime), 100%);
}

.helper-label {
  margin-inline: 1px;
  align-self: center;
  height: calc(100% - 2px);
  grid-row: 1/2;
  grid-column: 1/2;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 700;
  background-color: hsla(var(--cs-slate-100), 100%);
  color: hsla(var(--cs-slate-700), 100%);
  transition: 0.3s;
}

.inner-mortgage .helper-label {
  width: 4.2rem;
  border-radius: 0.5rem 0 0 0.5rem;
}

.inner-term .helper-label {
  width: 8rem;
  justify-self: end;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.inner-interest .helper-label {
  width: 5rem;
  justify-self: end;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
}

#m-amount {
  padding-left: 6rem;
}

#m-term {
  padding-right: 9rem;
}

#i-rate {
  padding-right: 6rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: initial;
  -moz-appearance: textfield;
}

.input-helper {
  display: flex;
  flex-direction: column;
}

.radio-wrapper legend {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  color: hsla(var(--cs-slate-700), 100%);
}

.radios-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.radio-helper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}

input[type="radio"] {
  position: absolute;
  appearance: none;
  background-color: transparent;
  margin: 0;
  margin-left: 1.7rem;
  color: hsla(var(--cs-slate-900), 100%);
  width: 2.2rem;
  height: 2.2rem;
  border: 0.1rem solid hsla(var(--cs-slate-900), 100%);
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1rem 1rem hsla(var(--cs-slate-900), 100%);
}

input[type="radio"]:checked {
  border: 0.1rem solid hsla(var(--cs-lime), 100%);
}

input[type="radio"]:checked::before {
  box-shadow: inset 1rem 1rem hsla(var(--cs-lime), 100%);
  transform: scale(1);
}

/* input[type="radio"]:focus + label {
  filter: brightness(150%);
} */

.radio-helper label {
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 1.2rem 2rem 1.2rem 5.5rem;
  color: hsla(var(--cs-slate-900), 100%);
  border: 1px solid hsla(var(--cs-slate-500), 100%);
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  transition: 0.3s;
}

.radio-helper:hover label {
  border: 1px solid hsla(var(--cs-lime), 100%);
}

.radio-helper input:checked + label {
  border: 1px solid hsla(var(--cs-lime), 100%);
  background-color: hsla(var(--cs-lime), 20%);
}

#submit-btn {
  color: hsla(var(--cs-slate-900), 100%);
  background-color: hsla(var(--cs-lime), 100%);
  background-image: url(./assets/images/icon-calculator.svg);
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-position: left 4.65rem center;
  padding: 1.6rem 2rem 1.6rem 5.5rem;
  border-radius: 2.5rem;
  font-size: 1.8rem;
  font-weight: 900;
  white-space: nowrap;
  width: 100%;
  /* max-width: 35rem; */
  max-width: 31.5rem;
  align-self: center;
}

#submit-btn:hover {
  background-color: hsla(var(--cs-lime), 70%);
}

#results-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(var(--cs-slate-900), 100%);
  font-size: 1.6rem;
}

#results-wrapper h2 {
  color: hsla(var(--cs-white), 100%);
}

#results-wrapper p {
  color: hsla(var(--cs-slate-300), 100%);
}

#active-view,
#completed-view {
  max-width: 42rem;
}

#active-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 1.5rem;
  gap: 1.5rem;
  text-align: center;
}

#active-view p {
  margin-top: 0.7rem;
}

/* #active-view {
  display: none;
} */

#active-view .img-wrap {
  max-width: 20rem;
}

#completed-view {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#completed-view {
  display: none;
}

#completed-view p {
  line-height: 1.5;
}

.results-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1.7rem;
  margin-top: 1rem;
  background-color: hsla(0, 0%, 0%, 0.3);
  border-radius: 1rem;
  border-top: 5px solid hsla(var(--cs-lime), 100%);
}

.monthly-helper,
.total-helper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.monthly-helper {
  padding-bottom: 1.55rem;
  border-bottom: 1px solid hsla(var(--cs-slate-700), 100%);
}

.total-helper {
  padding-top: 1rem;
}

.result-desc {
  color: hsla(var(--cs-slate-300), 100%);
}

#monthly-result {
  color: hsla(var(--cs-lime), 100%);
  font-size: 3.85rem;
  font-weight: 900;
}

#total-result {
  font-size: 2.35rem;
  font-weight: 900;
  color: hsla(var(--cs-white), 100%);
}

footer {
  display: grid;
  place-content: center;
  padding: 0.5rem;
  color: hsla(var(--cs-slate-100), 100%);
  background-color: hsla(var(--cs-slate-900), 100%);
}

footer a {
  color: hsla(var(--cs-lime), 100%);
  font-weight: 900;
}

footer a:hover {
  filter: brightness(120%);
}

/* Error styles */
.error-msg {
  font-size: 1.3rem;
  display: none;
  color: hsla(var(--cs-red), 100);
}

.form-touched .invalid.wrap-touched:not(.wrap-focused) .error-msg {
  display: block;
}

.form-touched .invalid.wrap-touched input[type="number"]:not(:focus) {
  border: 1px solid hsla(var(--cs-red), 100%);
}

.form-touched .invalid.wrap-touched:not(.wrap-focused) .helper-label {
  background-color: hsla(var(--cs-red), 100%);
  color: hsla(var(--cs-white), 100%)
}

/* Media queries */
/* Smallest screens adjustments */

@media screen and (max-width: 374px) {
  #submit-btn {
    background-position: left 2rem center;
    font-size: 1.5rem;
    padding: 1.2rem 1.5rem 1.2rem 3.5rem;
  }
}

/* Tablet styles */

@media screen and (min-width: 767px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
  }

  #component-wrapper {
    width: 100%;
    max-width: 69rem;
    border-radius: 2.5rem;
    overflow: hidden;
  }

  #component-wrapper > * {
    padding: 4rem 2rem;
  }

  #calculator-form {
    width: 100%;
    max-width: unset;
    padding-inline: 4rem;
  }

  .form-head-helper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4.2rem;
  }

  .input-helper {
    flex-direction: row;
    gap: 2rem;
  }

  .radio-wrapper {
    margin-bottom: 4.1rem;
  }

  #submit-btn {
    align-self: flex-start;
    background-position: left 4.2rem center;
  }

  #active-view,
  #completed-view {
    max-width: unset;
  }

  #completed-view {
    padding: 0rem 2rem;
  }

  .results-box {
    margin-top: 2.5rem;
    padding: 3rem 3.5rem;
  }

  .monthly-helper {
    padding-bottom: 3.5rem;
  }

  .total-helper {
    padding-top: 2rem;
  }

  #monthly-result {
    font-size: 5.45rem;
  }

  .error-msg {
    font-size: 1.6rem;
  }
}

/* Desktop styles */

@media screen and (min-width: 1439px) {
  main {
    justify-content: center;
  }

  #component-wrapper {
    flex-direction: row;
    align-items: unset;
    transform: translate(0rem, 1rem);
    max-width: 101rem;
  }

  #component-wrapper > * {
    flex: 50%;
  }

  #calculator-form {
    padding-inline: unset;
    padding: 4rem;
  }

  #results-wrapper {
    border-radius: 0rem 0rem 0rem 8rem;
  }

  #active-view {
    margin-top: auto;
    margin-bottom: auto;
  }
}
