@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* Global, reset & typography */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  cursor: pointer;
  font: inherit;
  transition: 0.3s;
}

button {
  background-color: transparent;
  border: none;
}

fieldset {
  border: none;
}

:root {
  --main-font: "Plus Jakarta Sans", sans-serif;

  /* ### Primary */

  /* --cs-lime: hsl(61, 70%, 52%);
--cs-red: hsl(4, 69%, 50%); */

  --cs-lime: 61, 70%, 52%;
  --cs-red: 4, 69%, 50%;

  /* ### Neutral */

  --cs-white: 0, 0%, 100%;
  --cs-slate-100: 202, 86%, 94%;
  --cs-slate-300: 203, 41%, 72%;
  --cs-slate-500: 200, 26%, 54%;
  --cs-slate-700: 200, 24%, 40%;
  --cs-slate-900: 202, 55%, 16%;

  /* --cs-white: hsl(0, 0%, 100%);
--cs-slate-100: hsl(202, 86%, 94%);
--cs-slate-300: hsl(203, 41%, 72%);
--cs-slate-500: hsl(200, 26%, 54%);
--cs-slate-700: hsl(200, 24%, 40%);
--cs-slate-900: hsl(202, 55%, 16%); */
}

html {
  font-family: var(--main-font);
  font-size: 10px;
}

body {
  position: relative;
  display: grid;
  min-height: 100svh;
  min-height: 100vh;
  background-color: hsla(var(--cs-slate-100), 100%);
}

html,
body {
  /* overflow-x: hidden; */
  min-width: 30rem;
}

/* Utility classes */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* Mobile styles */

body {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content;
}

#component-wrapper {
  display: flex;
  flex-direction: column;
  background-color: hsla(var(--cs-white), 100%);
}

#component-wrapper > * {
  flex: 1;
  padding: 3.2rem 2.35rem;
}

#calculator-form {
  display: flex;
  flex-direction: column;
}

.form-head-helper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 2.7rem;
}

.form-head-helper h1 {
  font-size: 2.4rem;
  color: hsla(var(--cs-slate-900), 100%);
}

.btn-reset {
  color: hsla(var(--cs-slate-700), 100%);
  font-size: 1.6rem;
  text-decoration: underline;
}

.btn-reset:hover {
  color: hsla(var(--cs-slate-900), 100%);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: rgba(255, 192, 203, 0.47);
  margin-bottom: 2.6rem;
}

.input-wrapper label {
  font-size: 1.6rem;
}

.basic-input {
  padding: 1.2rem;
  font-size: 1.6rem;
}

.input-helper {
  display: flex;
  flex-direction: column;
}

.radio-wrapper legend {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

.radios-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.radio-helper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}

input[type="radio"] {
  /* font: inherit;
  font-size: 1rem; */
  /* transform: translateY(-0.075em); */
  position: absolute;
  appearance: none;
  /* background-color: #fff; */
  background-color: transparent;
  margin: 0;
  margin-left: 1.7rem;
  color: red;
  width: 2.2rem;
  height: 2.2rem;
  border: 0.1rem solid hsla(var(--cs-slate-900), 100%);
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1rem 1rem hsla(var(--cs-slate-900), 100%);
}

input[type="radio"]:checked {
  border: 0.1rem solid hsla(var(--cs-lime), 100%);
}

input[type="radio"]:checked::before {
  box-shadow: inset 1rem 1rem hsla(var(--cs-lime), 100%);
  transform: scale(1);
}

/* input[type="radio"]:focus + label {
  filter: brightness(150%);
} */

.radio-helper label {
  width: 100%;
  height: 100%;
  padding: 1.2rem 2rem 1.2rem 5.5rem;
  border: 1px solid hsla(var(--cs-slate-900), 100%);
  border-radius: .5rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.radio-helper input:checked + label {
  border: 1px solid hsla(var(--cs-lime), 100%);
  background-color: hsla(var(--cs-lime), 20%);
}

#submit-btn {
  background-color: hsla(var(--cs-lime), 100%);
  background-image: url(./assets/images/icon-calculator.svg);
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-position: left 4.65rem center;
  padding: 1.6rem 2rem 1.6rem 5.5rem;
  border-radius: 2.5rem;
  font-size: 1.8rem;
  font-weight: 900;
}

#submit-btn:hover {
  background-color: hsla(var(--cs-lime), 70%);
}






#results-wrapper {
  display: flex;
  flex-direction: column;
  background-color: hsla(var(--cs-slate-900), 100%);
  /* background-color: rgba(128, 0, 128, 0.296); */
}






footer {
  display: grid;
  place-content: center;
  padding: 0.5rem;
  background-color: rgba(255, 192, 203, 0.211);
}

/* Error styles */
.error-msg {
  display: none;
  color: hsla(var(--cs-red), 100);
}

/* Media queries */

/* Tablet styles */

/* Desktop styles */
