/* General and reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

span {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

label {
  display: none;
}

:root {
  /* ### Primary */

  --custom-soft-cyan: hsl(174, 77%, 80%); /*(Full Slider Bar)*/
  --custom-strong-cyan: hsl(174, 86%, 45%); /*(Slider Backround)*/
  --custom-light-grayish-red: hsl(14, 92%, 95%); /*(Discount Background)*/
  --custom-light-red: hsl(15, 100%, 70%); /*(Discount Text)*/
  --custom-pale-blue: hsl(226, 100%, 87%); /*(CTA Text)*/

  /* ### Neutral */

  --custom-white: hsl(0, 0%, 100%); /*(Pricing Component Background)*/
  --custom-very-pale-blue: hsl(230, 100%, 99%); /*(Main Background)*/
  --custom-light-grayish-blue: hsl(224, 65%, 95%); /*(Empty Slider Bar)*/
  --custom-light-grayish-blue: hsl(223, 50%, 87%); /*(Toggle Background)*/
  --custom-grayish-blue: hsl(225, 20%, 60%); /*(Text)*/
  --custom-dark-desaturated-blue: hsl(
    227,
    35%,
    25%
  ); /*(Text & CTA Background)*/
}

html {
  font-family: "Manrope", sans-serif;
  font-size: 10px;
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-size: 600% 50%;
  background-color: var(--custom-very-pale-blue);
}

/* Main styles */
.body-helper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex: 1;
  width: 100%;
  gap: 3rem;
  padding: 4rem;
}

.intro {
  background-color: rgba(255, 0, 0, 0.201);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.4rem;
  color: var(--custom-dark-desaturated-blue);
  padding-top: 14rem;
  padding-bottom: 10rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-image: url(./images/pattern-circles.svg);
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: 50%;
  background-position: bottom 3rem center;
}

.intro h1 {
  font-size: 4rem;
}

.intro p {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 4.5rem;
  max-width: 38rem;
  padding: 0 2rem;
  background-color: red;
}

main {
  /* background-color: rgba(0, 0, 255, 0.244); */
  width: 98%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.controls-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* background-color: rgba(0, 128, 0, 0.196); */
  flex: 50%;
  width: 100%;
  padding: 2rem 2rem 4.5rem 2rem;
  grid-template-areas: 
    "pageviews pageviews"
    "slider slider"
    "price price"
    "billing billing";
  justify-items: center;
  gap: 2.5rem;
}

.pageview-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  grid-area: pageviews;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 800;
  letter-spacing: .35rem;
  color: var(--custom-dark-desaturated-blue);
  padding: 3rem 1rem 1rem 1rem;
  background-color: blueviolet;
}

/* Slider styles */

.slider-wrapper {
  grid-area: slider;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 3.5rem 3rem;
}

input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  background: linear-gradient(to right, var(--custom-strong-cyan) 0%, var(--custom-strong-cyan) 50%, var(--custom-light-grayish-blue) 50%, var(--custom-light-grayish-blue) 100%);
  transition: background 450ms ease-in;
  border-radius: 1rem;
}


/* WebKit styles */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid transparent;
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 100%;
  background: var(--custom-strong-cyan);
  background-image: url(./images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  cursor: pointer;
  margin-top: -3rem;
  box-shadow: 0rem 2rem 3rem 0rem hsla(174, 86%, 45%, 50%);
}
input[type="range"]::-webkit-slider-thumb:active {
  cursor: grabbing;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.5rem;
  cursor: pointer;
  background: transparent;
  border-radius: 1rem;
  border: 1px solid transparent;
}

/* input[type=range]:focus::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.5rem;
  cursor: pointer;
 background: var(--custom-light-grayish-blue);
  border-radius: 1rem;
  border: 1px solid transparent;
} */


input[type="range"]:focus {
  outline: none; /* Removes the blue border.*/
}

/* Firefox styles */
input[type=range]::-moz-range-thumb {
  border: 1px solid transparent;
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 100%;
  background: var(--custom-strong-cyan);
  background-image: url(./images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  cursor: pointer;
  margin-top: -14px;
  box-shadow: 0rem 2rem 3rem 0rem hsla(174, 86%, 45%, 50%);
}

input[type=range]::-moz-range-thumb:active {
  cursor: grabbing;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 1.5rem;
  cursor: pointer;
  background: var(--custom-light-grayish-blue);
  border-radius: 1rem;
  border: 1px solid transparent;
}

input[type=range]::-moz-range-progress {
  width: 100%;
  height: 1.5rem;
  cursor: pointer;
  background: var(--custom-strong-cyan);
  border-radius: 1rem;
  border: 1px solid transparent;
}

/* End slider style */

.price-wrapper {
  grid-area: price;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.3rem;
  background-color: yellow;
  padding: 1rem 2rem;
}

#price-val {
  color: var(--custom-dark-desaturated-blue);
  font-size: 6rem;
  font-weight: 800;
}

.price-wrapper span:last-of-type {
  font-weight: 600;
  font-size: 2.8rem;
}

.billing-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  grid-area: billing;
  background-color: green;
  color: var(--custom-dark-desaturated-blue);
  font-size: 2.2rem;
  font-weight: 600;
  padding: 4rem 1rem;
  width: 100%;
}

/* Billing toggle button styles */


.billing-helper {
  display: flex;
  gap: 2rem;
}

.billing-discount-helper span:last-of-type {
  display: none;
}


.bottom-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.5rem;
  background-color: rgba(255, 217, 0, 0.322);
  width: 100%;
  flex: 50%;
  border-top: 1px solid var(--custom-grayish-blue);
  padding: 3rem 2rem 6.5rem 2rem;
}

.bottom-helper {
  background-color: pink;
}

.feature-list {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--custom-dark-desaturated-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  /* list-style: url(./images/icon-check.svg); */
  list-style-position: inside;
  padding: 2rem 4rem;
}

.feature-list span::before {
  content: "";
  display: inline-block;
  background-image: url(./images/icon-check.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1.7rem;
  height: 1.8rem;
  margin-right: 3rem;
}


.btn {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--custom-light-grayish-blue);
  background-color: var(--custom-dark-desaturated-blue);
  border: 1px solid transparent;
  border-radius: 5rem;
  padding: 2.7rem 9.5rem;
  cursor: pointer;
  transition: .3s;
}

.btn:hover, .btn:focus {
  color: var(--custom-white);
}

/* Footer styles */
.attribution {
  font-size: 1rem;
  text-align: center;
  width: 100%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media queries */
