* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ### Primary */
  --custom-strong-cyan: hsl(171, 66%, 44%);
  --custom-light-blue: hsl(233, 100%, 69%);

  /* ### Neutral */
  --custom-dark-grayish-blue: hsl(210, 10%, 33%);
  --custom-grayish-blue: hsl(201, 11%, 66%);
}

html {
  font-size: 10px;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
