/* Global styles, reset & typography */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.3s;
  outline: none;
}

span {
  display: block;
}

:root {
  --font-family: "Poppins", sans-serif;

  /* ### Colors  */
  /* ### Primary */

  --custom-purple: hsl(259, 100%, 65%);
  --custom-light-red: hsl(0, 100%, 67%);

  /* ### Neutral */

  --custom-white: hsl(0, 0%, 100%);
  --custom-off-white: hsl(0, 0%, 94%);
  --custom-light-grey: hsl(0, 0%, 86%);
  --custom-smokey-grey: hsl(0, 1%, 44%);
  --custom-off-black: hsl(0, 0%, 8%);
}

html {
  font-family: var(--font-family);
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  min-height: 100vh;
  min-height: 100svh; /*Using both because of browser support*/
  background-color: var(--custom-off-white);
}

/* Mobile styles */

main {
  /* background-color: rgba(255, 192, 203, 0.458); */
  margin-top: 8.7rem;
  display: flex;
  justify-content: center;
  width: 92%;
}

#component-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 4rem 1.5rem 2rem 1.5rem;
  background-color: var(--custom-white);
  border-radius: 2.5rem 2.5rem 10rem 2.5rem;
  overflow: hidden;
  max-width: 50rem;
}

#top-helper,
#bot-helper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0.8rem 1rem;
}

/* Calculator form styles mobile */

/* #top-helper {
  background-color: green;
} */

#calc-form {
  position: relative;
  border-bottom: 1px solid var(--custom-light-grey);
  padding-bottom: 6.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#form-list {
  display: flex;
  gap: 1.5rem;
}

.label-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* background-color: rgba(255, 0, 0, 0.459); */
}

.input-name {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  color: var(--custom-smokey-grey);
}

.form-input {
  font-size: 2rem;
  font-weight: 800;
  padding: 1rem 1.5rem;
  border-radius: .7rem;
  width: 100%;
  border-color: var(--custom-light-grey);
}

.form-input:focus {
    border-color: var(--custom-purple);
    caret-color: var(--custom-purple);
}

.error-msg {
  /* display: none; */
  font-style: italic;
  font-size: 1.1rem;
}

.whole-form-error {
    display: none;
}

.error {
    color: var(--custom-light-red);
}

#submit-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 0;
  padding: 3rem;
  border-radius: 50%;
  max-width: 5rem;
  background-image: url(./assets/images/icon-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-color: var(--custom-purple);
}

#submit-btn:hover,
#submit-btn:focus {
  background-color: var(--custom-off-black);
}

/* Results display styles mobile */

#bot-helper {
  /* background-color: yellow; */
  font-style: italic;
  font-weight: 800;
  padding: 3rem 1rem;
}

#results-display {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.result-li {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  /* background-color: teal; */
  line-height: 1;
}

.results-value {
  /* background-color: orange; */
  font-size: 5.5rem;
  color: var(--custom-purple);
}

.results-label {
  font-size: 5.5rem;
  color: var(--custom-off-black);
}

/* Footer styles mobile */

footer {
  margin-top: auto;
  text-align: center;
}

/* Media queries */

/* Desktop styles */

@media screen and (min-width: 950px) {
  main {
    margin-top: 15.5rem;
  }

  #component-wrapper {
    width: 100%;
    max-width: 84rem;
    gap: 4rem;
    padding: 4rem 1.5rem 4rem 1.5rem;
    border-radius: 2.5rem 2.5rem 20rem 2.5rem;
  }

  #top-helper,
  #bot-helper {
    padding: 1.4rem 4rem;
    /* justify-content: space-between; */
  }

  /* Calculator form styles desktop */

  #calc-form {
    padding-bottom: 5rem;
    /* justify-content: space-between; */
  }

  #form-list {
    gap: 3.2rem;
    justify-content: flex-start;
  }

  .label-wrap {
    gap: 1rem;
    max-width: 16rem;
  }

  .input-name {
    font-size: 1.4rem;
  }

  .form-input {
    padding: 0.8rem 2rem;
    font-size: 3.2rem;
  }

  .error-msg {
      font-size: 1.4rem;
  }

  #submit-btn {
    left: unset;
    right: 0;
    transform: translate(0%, 50%);
    max-width: 10rem;
    padding: 4.7rem;
    background-size: 4.7rem;
  }

  /* Results display styles desktop */

  #bot-helper {
    /* border: 1px solid red; */
    padding: 1rem 4rem 3rem 4rem;
  }

  #results-display {
    gap: 3.2rem;
  }

  .result-li {
    line-height: .8;
    gap: 0rem;
  }

  .results-value {
    letter-spacing: 2rem;
    font-size: 10.2rem;
    margin-right: -1rem;
  }

  .results-label {
    font-size: 10.2rem;
  }
}
