/* General styles, reset and typography */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

span {
  display: block;
}

ul {
  list-style: none;
}

button {
  transition: 0.3s;
  cursor: pointer;
}

:root {
  /* ### Primary */

  --custom-pink: hsl(322, 100%, 66%);
  --custom-light-pink: hsl(321, 100%, 78%);
  --custom-light-red: hsl(0, 100%, 63%);

  /* ### Neutral */

  --custom-very-dark-cyan: hsl(192, 100%, 9%);
  --custom-very-pale-blue: hsl(207, 100%, 98%);
}

html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Page styles - mobile first */
/* Header styles */

header {
  width: 100%;
  padding: 2.5rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: rgba(0, 0, 255, 0.211); */
}

.logo-wrap {
  width: 9.5rem;
  height: 1.5rem;
}

#head-btn {
  color: var(--custom-pink);
  background-color: transparent;
  border: 1px solid var(--custom-pink);
  border-radius: 3rem;
  padding: 0.5rem 1.7rem;
  font-size: 1rem;
}

#head-btn:hover,
#head-btn:focus {
  color: var(--custom-light-pink);
  border-color: var(--custom-light-pink);
}

/* Main styles */

main {
  padding: 7rem 0rem 12rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* background-color: rgba(0, 128, 0, 0.097); */
}

#hero {
  position: relative;
  /* background-color: rgba(255, 0, 0, 0.162); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

/* #hero::after {
  position: absolute;
  bottom: -8.5rem;
  content: "";
  width: 100%;
  height: 12rem;
  background-image: url(./images/bg-section-top-mobile-1.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 bottom;
  z-index: 999;
} */

.hero-helper-top {
  padding: 2rem 3rem 6rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 3rem;
  /* background-color: rgba(255, 255, 255, 0.33); */
}

.hero-helper-top h1 {
  font-size: 2.4rem;
}

.hero-helper-top p {
  font-size: 1.4rem;
  line-height: 2rem;
  padding-bottom: 2rem;
}

#hero-btn {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1.2rem 3.5rem;
  color: white;
  background-color: var(--custom-pink);
  border: 1px solid transparent;
  border-radius: 3rem;
}

#hero-btn:hover,
#hero-btn:focus {
  background-color: var(--custom-light-pink);
}

.hero-helper-middle {
  /* background-color: gold; */
  padding: 3.2rem 3.7rem 3.2rem 3.7rem;
}

.hero-img-wrapper {
  width: 100%;
}

.hero-helper-bottom {
  padding: 8rem 4rem 1rem 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8rem;
  /* background-color: rgba(0, 128, 0, 0.207); */
}

.hero-data-wrap {
  /* background-color: rgba(0, 128, 128, 0.216); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem 1rem 2rem;
  gap: 1.2rem;
}

.hero-icon-wrap {
  align-self: flex-start;
  width: 2.5rem;
}

.hero-data-value {
  font-size: 5rem;
  font-weight: 700;
}

.hero-data-name {
  text-align: center;
  font-size: 1.5rem;
}

/* End hero styles */
/*  */
/* Feature section styles */

#features-wrapper {
  /* margin-top: 8.5rem; */
  width: 100%;
  /* background-color: rgba(0, 128, 0, 0.101); */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
  padding: 0.5rem 0 2rem 0;
}

.feature-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 0rem;
  gap: 2rem;
}

.feature-wrap:nth-of-type(odd) {
  background-color: var(--custom-very-pale-blue);
}
.feature-wrap:nth-of-type(even) {
  padding-top: 4rem;
}

.feature-wrap:last-of-type .feature-content-wrap {
  padding-bottom: 5rem;
}

/* Curved separators*/
.feature-wrap:first-of-type::before {
  content: "";
  background-image: url(./images/bg-section-top-mobile-1.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 11rem;
  background-color: white;
}
.feature-wrap:first-of-type::after {
  content: "";
  background-image: url(./images/bg-section-bottom-mobile-1.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 7rem;
  background-color: white;
}

.feature-wrap:last-of-type::before {
  content: "";
  background-image: url(./images/bg-section-top-mobile-2.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 10rem;
  background-color: white;
}
.feature-wrap:last-of-type::after {
  content: "";
  background-image: url(./images/bg-section-bottom-mobile-2.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 11rem;
  background-color: white;
}

.feature-img-wrap {
  padding: 10% 15%;
  /* background-color: gold; */
}

.feature-content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem 4rem;
}

.feature-content-wrap h2 {
  font-size: 2rem;
}
.feature-content-wrap p {
  font-size: 1.3rem;
  line-height: 2rem;
}

/* Bottom CTA section styles */
#bottom-cta-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4rem;
  width: 100%;
  /* background-color: rgba(255, 217, 0, 0.304); */
  padding: 8rem 2rem 13rem 2rem;
}

#bottom-cta-wrap h3 {
  font-size: 2.5rem;
}

#bot-cta-btn {
  padding: 1.2rem 3.5rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: var(--custom-pink);
  border: 1px solid transparent;
  border-radius: 3rem;
}

#bot-cta-btn:hover,
#bot-cta-btn:focus {
  background-color: var(--custom-light-pink);
}

/* Footer styles */

footer::after {
  content: "";
  width: 100%;
  height: 5.3rem;
  background-color: white;
  background-image: url(./images/bg-footer-top-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

footer {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  color: var(--custom-very-pale-blue);
  background-color: var(--custom-very-dark-cyan);
  gap: 2rem;
}

.footer-helper {
  padding: 2rem;
}

.footer-subform {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3.8rem 2.7rem;
  background-color: rgba(255, 0, 0, 0.282);
}

.footer-subform span {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
}

.footer-subform p {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.3rem;
  padding-bottom: 1.5rem;
}

.input-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1.7rem;
}

#foot-input {
  width: 100%;
  height: 4.7rem;
  cursor: pointer;
  border-radius: .7rem;
  padding: 1rem 2rem;
}

#foot-input:focus {
  outline: 1px solid var(--custom-light-pink);
}

#foot-btn {
  color: var(--custom-very-pale-blue);
  font-weight: 600;
  font-size: 1.5rem;
  padding: 1.4rem 4.2rem;
  background-color: var(--custom-pink);
  border: 1px solid transparent;
  border-radius: 1rem;
}

#foot-btn:hover, #foot-btn:focus {
  background-color: var(--custom-light-pink);
}

.footer-logo-wrap {
  width: 1rem;
  height: 1rem;
}

.contact-icon-wrap {
  width: 2rem;
  height: 2rem;
  background-color: red;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
